<a class="relative m-auto bg-red-100 p-3 px-10 rounded text-gray-600 border-2 border-red-400 font-bold hover:left-2 hover:bottom-2 hover:shadow-[-5px_5px_0px_0px_red]" target="_blank"">Sign In</a>

<a class="relative m-auto bg-blue-100 p-3 px-10 rounded text-gray-600 border-2 border-blue-400 font-bold hover:left-2 hover:bottom-2 hover:shadow-[-5px_5px_0px_0px_blue]" target="_blank"">Sign In</a>

<a class="relative m-auto bg-green-100 p-3 px-10 rounded text-gray-600 border-2 border-green-400 font-bold hover:left-2 hover:bottom-2 hover:shadow-[-5px_5px_0px_0px_green]" target="_blank"">Sign In</a>

<a class="relative m-auto bg-yellow-100 p-3 px-10 rounded text-gray-600 border-2 border-yellow-400 font-bold hover:left-2 hover:bottom-2 hover:shadow-[-5px_5px_0px_0px_yellow]" target="_blank"">Sign In</a>

<a class="relative m-auto bg-purple-100 p-3 px-10 rounded text-gray-600 border-2 border-purple-400 font-bold hover:left-2 hover:bottom-2 hover:shadow-[-5px_5px_0px_0px_purple]" target="_blank"">Sign In</a>