<div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-16">
    <div class="flex flex-col max-w-screen-lg overflow-hidden bg-white border rounded-lg shadow-xl lg:flex-row sm:mx-auto">
      <div class="relative lg:w-1/2">
        <img src="https://upload.wikimedia.org/wikipedia/en/e/e8/Icpc_logo.png" alt="" class="object-cover w-full lg:absolute h-80 lg:h-full" />
        <svg class="absolute top-0 right-0 hidden h-full text-white lg:inline-block" viewBox="0 0 20 104" fill="currentColor">
          <polygon points="17.3036738 5.68434189e-14 20 5.68434189e-14 20 104 0.824555778 104"></polygon>
        </svg>
      </div>
      <div class="flex flex-col justify-center p-8 bg-white lg:p-16 lg:pl-10 lg:w-1/2">
        <div>
          <p class="inline-block px-3 py-1 mb-4 text-xs font-medium tracking-wider text-red-800 uppercase rounded-full bg-green-300">
            Open Up Your Brains
          </p>
        </div>
        <h5 class="mb-3 text-3xl font-extrabold leading-none sm:text-4xl text-blue-500">
          This Year's ICPC is here
        </h5>
        <p class="mb-5 text-gray-800 py-5">
          <span class="font-bold text-red-600">ICPC </span>is the most well known contest for competitive programmers.The attractive things about this contest are:
        </p>
        <ul class="text-blue-600">
            <li>!!  Get chance to compete with top level coders from across the globe.</li><br><hr><br>
            <li class="text-red-600">!!  Perform Well to get chance in top companies like IBM.</li><br><hr><br>
            <li class="text-green-600">!!  Get to learn awsome stuffs and enjoy a lot.</li>
        </ul>
        <br>
        <div class="flex items-center">
          <button
            type="submit"
            class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-red-700 transition duration-200 rounded-lg bg-yellow-400 hover:bg-blue-500 focus:shadow-outline focus:outline-none"
          >
            Register for it now 
          </button>
          <a href="/" aria-label="" class="inline-flex text-lg underline items-center transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
            Learn More
            <svg class="inline-block w-2 ml-2" fill="currentColor" viewBox="0 0 12 12">
              <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
