    <section class = "text-gray-600 body-font">
        <div class = "container px-5 py-8 mx-auto flex flex-wrap">
          <div class = "text-indigo-300 font-medium mb-2 w-1/5">
            <a class = "block group p-4 border-b bg-indigo-300 rounded-md">
                <p class = "font-bold text-lg text-white mb-1">User Identity</p>
            </a>
            <a class = "block group p-4 border-b hover:bg-indigo-300 hover:text-white rounded-md">
                <p class = "font-bold text-lg mb-1">Privacy Policy</p>
            </a>
            <a class = "block group p-4 border-b hover:bg-indigo-300 hover:text-white rounded-md">
                <p class = "font-bold text-lg mb-1">Recovery Options</p>
            </a>
            <a class = "block group p-4 border-b hover:bg-indigo-300 hover:text-white rounded-md">
                <p class = "font-bold text-lg mb-1">Usage Logs</p>
            </a>
          </div>
          <div class = "w-4/5 pl-6">
            <div class = "h-full border-gray-200 border p-4 rounded-lg">
                <div class = "lg:flex items-center lg:p-5">
                    <img class = "w-36 h-36 bg-gray-100 object-cover object-center rounded-full mb-4 lg:mb-0 mr-6" src = "https://dummyimage.com/100x100">
                    <div class = "flex-grow">
                        <label class = "block text-indigo-600 text-lg font-bold mb-4">Full Name</label>
                        <input class = "text-gray-900 outline-none block border-gray-200 border p-2 rounded-lg w-full mb-4" value = "Holden Caulfield"></input>
                        <label class = "block text-indigo-600 text-lg font-bold mb-4">About Myself</label>
                        <textarea class = "outline-none border-gray-200 block border p-2 rounded-lg w-full mb-4" rows = "5"></textarea>
                    </div>
                </div>
                <label class = "block text-indigo-600 text-lg font-bold mb-4">Mailing Lists</label>
                <input class = "text-gray-900 outline-none border-gray-200 border p-2 rounded-lg w-full lg:w-4/5 mb-4" value = "maxholden69@stanford.edu"></input>
                <button class = "bg-indigo-300 font-bold text-white text-md rounded-lg mb-4 lg:ml-4 lg:ml-4 p-2">Add to Mailing List</button>
                <label class = "block text-indigo-600 text-lg text-white font-bold mb-4">Linked Passwords</label>
                <input class = "text-gray-900 outline-none border-gray-200 border p-2 rounded-lg w-full lg:w-4/5 mb-4"></input>
                <button class = "bg-indigo-300 font-bold text-md text-white rounded-lg mb-4 lg:ml-4 lg:mb-0 p-2">Update Passwords</button>
                <button class = "bg-yellow-500 font-bold text-md text-white w-full rounded-lg p-2 mb-4">Save Data</button>
                <button class = "bg-red-500 font-bold text-md text-white w-full rounded-lg p-2">Delete User</button>
            </div>
          </div>
        </div>
    </section>        
