<div class="flex items-center rounded-lg shadow-xl mx-auto max-w-sm relative">
    <span
        class="text-xs font-bold uppercase px-2 mt-2 mr-2 text-green-900 bg-green-400 border rounded-full absolute top-0 right-0">New</span>
    <span class="text-xs font-semibold uppercase m-1 py-1 mr-3 text-gray-500 absolute bottom-0 right-0">4:36 PM</span>

    <img class="h-12 w-12 rounded-full" alt="Test Avatar"
        src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftwitter.com%2Fpulasthiabe&psig=AOvVaw0BO5wTQqfkRGDemaPUiMaE&ust=1634331352451000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLi70e_kyvMCFQAAAAAdAAAAABAJ" />

    <div class="ml-5">
        <h4 class="text-lg font-semibold leading-tight text-gray-900">Test User - Pulasthi Aberathne</h4>
        <p class="text-sm text-gray-600">You have a new message!</p>
    </div>
</div>
