<div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-8">
  <img
    class="w-full"
    src="https://user-images.githubusercontent.com/50357969/95460372-16172e00-099f-11eb-8b08-8d1a132834b3.jpg"
    alt="Sunset in the mountains"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">The Peacock</div>
    <p class="text-gray-600 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
      nihil.
    </p>
  </div>
  <div class="px-6 py-4">
    <span
      class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2"
      >#photography</span
    >
    <span
      class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2"
      >#travel</span
    >
    <span
      class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600"
      >#winter</span
    >
  </div>
</div>
<div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-8">
  <img
    class="w-full"
    src="https://user-images.githubusercontent.com/50357969/95460367-13b4d400-099f-11eb-8bae-bcaefee60736.jpg"
    alt="Sunset in the mountains"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">The turtle</div>
    <p class="text-gray-600 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
      nihil.
    </p>
  </div>
  <div class="px-6 py-4">
    <span
      class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2"
      >#photography</span
    >
    <span
      class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2"
      >#travel</span
    >
    <span
      class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600"
      >#winter</span
    >
  </div>
</div>
<div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-8">
  <img
    class="w-full"
    src="https://user-images.githubusercontent.com/50357969/95460345-0d265c80-099f-11eb-9c80-44ea5500ca82.jpg"
    alt="Sunset in the mountains"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">The squirrel</div>
    <p class="text-gray-600 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
      nihil.
    </p>
  </div>
  <div class="px-6 py-4">
    <span
      class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2"
      >#photography</span
    >
    <span
      class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2"
      >#travel</span
    >
    <span
      class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600"
      >#winter</span
    >
  </div>
</div>
