<div class="m-12">
    <div class="max-w-screen-sm bg-gray-100 rounded-lg m-auto shadow-lg hover:shadow-lg">
        <div>
            <div class="sm:flex text-3xl sm:items-center mx-8 py-4">
                <svg class="fill-current text-teal-600" xmlns="http://www.w3.org/2000/svg" width="64" height="64"><defs><linearGradient x1="0" y1="-21.333" y2="85.333" id="A" x2="64" gradientUnits="userSpaceOnUse"><stop stop-color="#ed8936" offset="0%"/><stop stop-color="#f56565" offset="100%"/></linearGradient></defs><path d="M16 25.6c2.133-8.533 7.467-12.8 16-12.8 12.8 0 14.4 9.6 20.8 11.2 4.267 1.067 8-.533 11.2-4.8C61.867 27.733 56.533 32 48 32c-12.8 0-14.4-9.6-20.8-11.2-4.267-1.067-8 .533-11.2 4.8zM0 44.8C2.133 36.267 7.467 32 16 32c12.8 0 14.4 9.6 20.8 11.2 4.267 1.067 8-.533 11.2-4.8-2.133 8.533-7.467 12.8-16 12.8-12.8 0-14.4-9.6-20.8-11.2-4.267-1.067-8 .533-11.2 4.8z" fill="url(#A)" fill-rule="evenodd"/></svg>
                <h1 class="text-red-500 p-4" >Getting Started with Tailwindcss</h1>
            </div>
            <div>
                <p class="text-justify px-8 pb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <div class="relative">
            <div class="h-16 bg-gray-100 relative">
                <h1 class="absolute right-0 bottom-0 m-8 text-orange-500 text-md hover:text-red-500 hover:underline cursor-pointer">Read full article</h1>
                <h1 class="absolute right-0 bottom-0 mx-8 my-3 text-gray-500 text-sm">posted on 1st Oct. 2020     |     5 min. read</h1>
            </div>
            <div class="w-16 h-16 rounded-full bg-gradient-to-r from-orange-500 to-red-500 absolute left-0 bottom-0 mb-8 ml-8 border-gray-200 border-2">
                <svg class="fill-current text-gray-100 m-2 pl-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="40px" height="40px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>
            </div>
            <div class="h-16 bg-gradient-to-r from-orange-500 to-red-500 rounded-b-lg text-gray-100">
                <h1 class="left-0 bottom-0 absolute pl-32 pb-4 text-xl font-semibold hover:underline sm:hover:no-underline cursor-pointer sm:cursor-default">Nitish Kumar Sharma</h1>
                <div class="absolute right-0 bottom-0 text-sm text-gray-100 my-4 mx-8 py-1 px-2 sm:flex hidden rounded border-2 border-solid border-gray-100 hover:opacity-75 opacity-100 cursor-pointer"><h2>view profile</h2></div>
            </div>
        </div>
    </div>
</div>