<div class="p-24 bg-yellow-700 flex flex-col justify-center items-center space-y-5">
    <div class="bg-white rounded-xl shadow-2xl">
      <div>
        <div
          class="w-full bg-cover bg-no-repeat bg-center rounded-xl"
          style="height: 200px; background-image: url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);"
        ></div>
        <div class="p-4">
          <div class="relative flex w-full">
            <div class="flex flex-1">
              <div style="margin-top: -6rem;">
                <div style="height: 9rem; width: 9rem;" class="md rounded-full relative avatar">
                  <img
                    style="height: 9rem; width: 9rem;"
                    class="md rounded-full relative border-4 border-gray-900 justify-center"
                    src="https://images.unsplash.com/profile-1518156163490-947fb5399aa6?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff"
                    alt=""
                  />
                  <div class="absolute"></div>
                </div>
              </div>
            </div>
  
            <div class="flex flex-col text-right">
              <button
                class="flex justify-center max-h-max whitespace-nowrap focus:outline-none focus:ring rounded max-w-max border bg-transparent border-purple-500 hover:border-blue-800 hover:border-indigo-800 flex items-center hover:shadow-lg font-bold py-2 px-4 mr-0 ml-auto"
              >
                Website
              </button>
            </div>
          </div>
  
          <div class="p-8">
            <h3 class="font-bold text-2xl mb-5">John Doe</h3>
            <p class="text-sm text-gray-900 font-medium">
              Full Stack Developer
            </p>
            <div class="rounded-lg border border-white-400 bg-white-300 text-blue-900 flex">
              <span class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </span>
              San Jose,California
            </div>
            <div class="my-5">
              <a href="#" class="text-yellow-200 block text-center font-medium leading-6 px-6 py-3 bg-yellow-600">Connect with <span class="font-bold">@johndoe123</span></a>
            </div>
            <div class="flex flex-nowrap justify-evenly my-5">
              <a href="" class="bg font-bold text-sm text-blue-800 w-full text-center py-3 hover:bg-blue-800 hover:text-white hover:shadow-lg">Facebook</a>
              <a href="" class="bg font-bold text-sm text-blue-400 w-full text-center py-3 hover:bg-blue-400 hover:text-white hover:shadow-lg">Twitter</a>
              <a href="" class="bg font-bold text-sm text-blue-500 w-full text-center py-3 hover:bg-blue-500 hover:text-white hover:shadow-lg">Linkedin</a>
              <a href="" class="bg font-bold text-sm text-pink-800 w-full text-center py-3 hover:bg-pink-800 hover:text-white hover:shadow-lg">Instagram</a>
              <a href="" class="bg font-bold text-sm text-gray-600 w-full text-center py-3 hover:bg-gray-600 hover:text-white hover:shadow-lg">Email</a>
              <a href="" class="bg font-bold text-sm text-green-600 w-full text-center py-3 hover:bg-green-600 hover:text-white hover:shadow-lg">Whatsapp</a>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptates assumenda quos doloremque a ullam excepturi delectus vero ad, laboriosam, iusto veritatis, facere voluptatem velit. Laboriosam iure officiis
              perspiciatis laborum!
            </p>
  
            <footer class="rounded-b-lg bg-gray-100 text-sm text-gray-800 px-8 py-3 text-right">
              Updated 2 days ago
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
  