<div class="h-screen flex items-center justify-center mx-auto">
    <div class="animate-bounce mx-auto h-16 w-64 flex justify-center items-center">
        <div class="h-16 w-64 bg-gradient-to-br from-indigo-300 to-purple-700 items-center rounded-xl shadow-2xl cursor-pointer absolute overflow-hidden transform hover:scale-x-110 hover:scale-y-105 transition duration-300 ease-out"></div>
        <a class="text-center text-white font-semibold z-10 pointer-events-none flex justify-content items-center">Hover on me!</a>
    </div>
</div>
