<html>
<body>
        <h1 style="font-family:Helvetica; text-align:center; font-size:200%;">Café House</h1>
    </div>
<div class="flex flex-col items-center justify-center h-screen bg-gray-100 sm:flex-row">
    <div class="p-2 sm:w-1/2 lg:w-1/5">
        <div class="flex flex-col overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg shadow-2xl hover:scale-105">
            <img class="h-56 rounded-t-lg" alt="article image"
                src="https://images.unsplash.com/photo-1507915135761-41a0a222c709?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1742&q=80">
            <div class="px-6 pt-4 mb-2 text-xl font-bold">
                <span>Coffe Drinks</span>
            </div>
            <div class="px-6 pt-2">
                <div class="overflow-hidden h-16 ...">Black coffe, Latte, Cappuccino, Americano and more.</div>
            </div>
            <div class="px-6 pb-4">
                <a href="#"
                    class="inline-block px-3 py-1 my-1 mr-2 text-sm font-semibold text-white bg-teal-400 rounded-full">#Coffe</a>
                <a href="#"
                    class="inline-block px-3 py-1 my-1 mr-2 text-sm font-semibold text-white bg-teal-400 rounded-full">#Milk</a>
                <a href="#"
                    class="inline-block px-3 py-1 my-1 mr-2 text-sm font-semibold text-white bg-teal-400 rounded-full">#Bubble</a>
            </div>
        </div>
    </div>
    <div class="p-5 sm:w-1/2 lg:w-1/5">
        <div class="flex flex-col overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg shadow-2xl hover:scale-105">
            <img class="h-56 rounded-t-lg" alt="article image"
                src="https://images.unsplash.com/photo-1534766555764-ce878a5e3a2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80">
            <div class="px-6 pt-4 mb-2 text-xl font-bold">
                <span>Cheese Cakes</span>
            </div>
            <div class="px-6 pt-2">
                <div class="overflow-hidden h-16 ...">New york style, Philadelphia style, Chicago style and more.</div>
            </div>
            <div class="px-6 pb-2">
                <a href="#"
                    class="inline-block px-3 py-1 my-1 mr-2 text-sm font-semibold text-white bg-teal-400 rounded-full">#Cheesey</a>
            </div>
        </div>
    </div>
    <div class="p-4 sm:w-1/2 lg:w-1/5">
        <div class="flex flex-col overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg shadow-2xl hover:scale-105">
            <img class="h-56 rounded-t-lg" alt="article image"
                src="https://images.unsplash.com/photo-1612539466296-4ecf1db303e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1843&q=80">
            <div class="px-6 pt-4 mb-2 text-xl font-bold">
                <span>Pastries</span>
            </div>
            <div class="px-6 pt-2">
                <div class="overflow-hidden h-16 ...">Short crust, Flaky, Puff and more.</div>
            </div>
            <div class="px-6 pb-4">
                <a href="#"
                    class="inline-block px-3 py-1 my-1 mr-2 text-sm font-semibold text-white bg-teal-400 rounded-full">#Crusty</a>
                <a href="#"
                    class="inline-block px-3 py-1 my-1 mr-2 text-sm font-semibold text-white bg-teal-400 rounded-full">#Crunch</a>
            </div>
        </div>
    </div>
    <div class="p-4 sm:w-1/2 lg:w-1/5">
        <div class="flex flex-col overflow-hidden transition duration-500 ease-in-out transform bg-white rounded-lg shadow-2xl hover:scale-105">
            <img class="h-56 rounded-t-lg" alt="article image"
                src="https://images.unsplash.com/photo-1536614984430-64652c3ad956?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80">
            <div class="px-6 pt-4 mb-2 text-xl font-bold">
                <span>Dessert Chocolates</span>
            </div>
            <div class="px-6 pt-2">
                <div class="overflow-hidden h-16 ...">Chocolate Pudding Pie, Mousses, Brownies and more.</div>
            </div>
            <div class="px-6 pb-4">
                <a href="#"
                    class="inline-block px-3 py-1 my-1 mr-2 text-sm font-semibold text-white bg-teal-400 rounded-full">#Lava</a>
                <a href="#"
                    class="inline-block px-3 py-1 my-1 mr-2 text-sm font-semibold text-white bg-teal-400 rounded-full">#Yummy</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>