<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Tailwind Calendar Icon</title>
  <link rel='stylesheet' href='https://unpkg.com/tailwindcss@1.0.0-beta.3/dist/tailwind.css'>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="min-w-32 bg-white min-h-48 p-3 mb-4 font-medium">
  <div class="w-32 flex-none rounded-t lg:rounded-t-none lg:rounded-l text-center shadow-lg ">
    <div class="block rounded-t overflow-hidden  text-center ">
      <div class="bg-blue-500 text-white py-1">
        March
      </div>
      <div class="pt-1 border-l border-r border-white bg-white">
        <span class="text-5xl font-bold leading-tight">
                17
              </span>
      </div>
      <div class="border-l border-r border-b rounded-b-lg text-center border-white bg-white -pt-2 -mb-1">
        <span class="text-sm">
                Sunday
              </span>
      </div>
      <div class="pb-2 border-l border-r border-b rounded-b-lg text-center border-white bg-white">
        <span class="text-xs leading-normal">
                8:00 am to 5:00 pm
              </span>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  
</body>
</html>
