<div class="flex-row flex-auto p-10 border-box">
    <div class="relative items-center flex-auto w-4/12 overflow-hidden shadow">
        <div class="overflow-hidden" style="clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);">
            <img class="object-cover skew" src="https://images.unsplash.com/photo-1519139270028-ab664cf42264?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="...">
        </div>

        <div class="h-56 p-4 -mt-16 bg-gray-100" style="clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 80%);" >
            <div class="">
                <span class="font-sans text-lg font-semibold tracking-widest text-gray-700 capitalize">Music</span>
            </div>
            
            <div class="py-4">
                <p class="font-sans text-xl antialiased font-bold leading-6 text-gray-900">Performance by the world acclaimed violinist Vanessa-Mae</p>
            </div>

            <div class="flex pt-2">
                <span class="font-sans text-sm font-medium text-gray-600">18:00 - 22:00</span>
                <div></div>
                <span class="px-4 font-sans text-sm font-medium text-gray-600 capitalize">Greek National Opera</span>
            </div>
        </div>

        <div class="flex items-center h-16 px-4 ml-5 -mt-12 overflow-hidden bg-gray-200" style="clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 20 100%);">
            <img class="object-contain w-6 h-6" src="https://www.flaticon.com/svg/static/icons/svg/659/659067.svg"  alt="culture">
            <span class="px-4 py-4 mt-2 font-sans text-base font-medium leading-5 text-gray-800 uppercase">culture</span>
        </div>
    </div>
</div>