<div class="container flex flex-grow mx-auto mt-5">
    <!-- card -->
    <div class="w-1/3 px-2 mb-4">
        <div class="relative h-auto overflow-hidden bg-white border rounded shadow-lg">
            <div
                class="absolute inline-block px-3 text-xs font-bold text-green-500 uppercase bg-green-200 rounded-full">CSS</div>
            <img src="https://picsum.photos/200/200" class="object-cover w-full">
            <div class="relative px-6 py-4">
                <div class="font-bold movie-card-title">Learn TailwindCSS</div>
                <div class="flex">
                    <a href="#_" class="flex items-center self-start justify-center px-1 py-1 mt-5 text-base font-medium leading-tight text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-lg shadow hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo md:py-4 md:text-lg md:px-8">
                        Learn more
                    </a>
                    <a href="#_" class="flex items-center self-start justify-center px-1 mt-5 ml-5 text-base font-medium leading-tight text-red-500 transition duration-150 ease-in-out bg-red-200 border-transparent rounded-lg shadow py- hover:bg-white focus:outline-none focus:border-gray-100 focus:shadow-outline-gray md:py-4 md:text-lg md:px-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end card -->
</div>

  