<div
	class="flex min-h-screen flex-col items-center justify-center gap-10 bg-gray-700 p-4 antialiased md:p-0"
>
	<div
		class="flex w-full overflow-hidden rounded-lg bg-white text-gray-900 shadow-lg md:max-w-3xl"
	>
		<img
			src="https://images.unsplash.com/photo-1590595906931-81f04f0ccebb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80"
			alt="Computer with GitHub page opened in browser"
			class="hidden w-2/6 select-none object-cover sm:block"
		/>
		<div class="flex w-full flex-col justify-between p-5">
			<div class="mb-10 break-all">
				<h2
					class="mb-3 text-xl font-black leading-tight md:text-2xl md:leading-none"
				>
					Learn Open Source with GitHub.
				</h2>
				<p class="leading-relaxed text-gray-700 md:truncate lg:max-w-md">
					Open Source is an essential part of software development.<br
						class="hidden md:block"
					/>
					In this course we will teach you the basics using GitHub.
				</p>
			</div>

			<div
				class="grid w-full grid-flow-row-dense grid-cols-2 gap-3 md:grid-cols-3"
			>
				<button
					class="col-start-2 col-end-4 select-none rounded-lg bg-gray-500 py-1 font-bold text-white transition-all hover:bg-gray-600 focus:outline-none focus-visible:bg-gray-700 active:bg-gray-700 md:col-start-3"
				>
					Watch Now
				</button>
				<span class="self-end font-semibold leading-none text-gray-500"
					>15:35 min left.</span
				>
				<progress value="0" max="100" class="col-span-3 h-2 w-full">
					0% watched
				</progress>
			</div>
		</div>
	</div>

	<div
		class="flex w-full overflow-hidden rounded-lg bg-white text-gray-900 shadow-lg md:max-w-3xl"
	>
		<img
			src="https://images.unsplash.com/photo-1601119479271-21ca92049c81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80"
			alt="Computer with a open browser displaying authentication error"
			class="hidden w-2/6 select-none object-cover sm:block"
		/>
		<div class="flex w-full flex-col justify-between p-5">
			<div class="mb-10 break-all">
				<h2
					class="mb-3 text-xl font-black leading-tight md:text-2xl md:leading-none"
				>
					Learn Authentication with Laravel.
				</h2>
				<p class="leading-relaxed text-gray-700 md:truncate lg:max-w-md">
					Laravel provides some really great features out of the box.<br
						class="hidden md:block"
					/>
					Authentication and Authorization are just a few of them.
				</p>
			</div>

			<div
				class="grid w-full grid-flow-row-dense grid-cols-2 gap-3 md:grid-cols-3"
			>
				<button
					class="col-start-2 col-end-4 select-none rounded-lg bg-green-500 py-1 font-bold text-white transition-all hover:bg-green-600 focus:outline-none focus-visible:bg-green-700 active:bg-green-700 md:col-start-3"
				>
					Resume
				</button>
				<span class="self-end font-semibold leading-none text-gray-500"
					>05:26 min left.</span
				>
				<progress value="70" max="100" class="col-span-3 h-2 w-full">
					70% watched
				</progress>
			</div>
		</div>
	</div>
</div>
