<!-- Custome Google font -->
<div class="container py-3 mx-auto">
    <div class="flex flex-wrap mb-12">
        
        <div class="w-full md:w-1/4 px-2">
            <a href="#">
                <div class="border border-gray-400 hover:border-blue-500 hover:bg-gray-200 hover:shadow-md rounded py-2 px-5">
                    <h2 class="my-3 pb-3 font-bold text-2xl font-light leading-none text-gray-700">
                        <span class="w-6 inline-block text-white">
                            <svg class="inline-block fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4 11V11C4 10.0713 4 9.60689 4.04401 9.21625C4.40968 5.97091 6.97091 3.40968 10.2162 3.04401C10.6069 3 11.0713 3 12 3V3C12.9287 3 13.3931 3 13.7838 3.04401C17.0291 3.40968 19.5903 5.97091 19.956 9.21625C20 9.60689 20 10.0713 20 11V11M8 7L8.5 8M11.5 6.5L12 5.5M15.5 6.5L16 7.5"
                                    stroke="#262F56" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20 18V18C20 20.2091 18.2091 22 16 22H8C5.79086 22 4 20.2091 4 18V18" stroke="#262F56" stroke-width="1.8"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <rect x="2" y="11" width="20" height="3" rx="1.5" stroke="#262F56" stroke-width="1.8" />
                                <rect x="2" y="14" width="20" height="4" rx="2" stroke="#262F56" stroke-width="1.8" />
                            </svg>
                        </span>
                        Food Package
                    </h2>

                    <div class="font-thin block">
                        <p class="text-xs text-gray-600 my-1"><span class="font-bold">Test Includes:</span> 63</p>
                        <ul class="text-xs text-gray-600 flex flex-wrap">
                            <span class="font-bold pr-1">Sample Type:</span>
                            <li class="pr-2">Serum,</li>
                            <li class="pr-2">Urine,</li>
                            <li class="pr-2">Whole Blood</li>
                        </ul>
                        <p class="mt-1 mb-3 text-xs text-gray-600"><span class="font-bold">Fasting:</span> Required</p>
                    </div>

                    <section class="flex flex-wrap mt-4 mb-2">
                        <article
                            class="text-xl font-heading-font text-green-500 content-center pr-2">
                            $950
                        </article>
                        <article class="text-xs text-gray-500 font-heading-font line-through pt-2 pr-2">
                            $3025
                        </article>
                        <article class="text-xs text-left md:text-right text-gray-700 pt-2 font-heading-font">
                            $2075 <i class="fas fa-percent fa-xs"></i> Off
                        </article>
                    </section>
                </div>
            </a>
        </div>

        <div class="w-full md:w-1/4 px-2">
            <a href="#">
                <div class="border border-gray-400 hover:border-blue-500 hover:bg-gray-200 hover:shadow-md rounded py-2 px-5">
                    <h2 class="my-3 pb-3 font-bold text-2xl font-light leading-none text-gray-700">
                        <span class="w-6 inline-block text-white">
                            <svg class="inline-block fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4 11V11C4 10.0713 4 9.60689 4.04401 9.21625C4.40968 5.97091 6.97091 3.40968 10.2162 3.04401C10.6069 3 11.0713 3 12 3V3C12.9287 3 13.3931 3 13.7838 3.04401C17.0291 3.40968 19.5903 5.97091 19.956 9.21625C20 9.60689 20 10.0713 20 11V11M8 7L8.5 8M11.5 6.5L12 5.5M15.5 6.5L16 7.5"
                                    stroke="#262F56" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20 18V18C20 20.2091 18.2091 22 16 22H8C5.79086 22 4 20.2091 4 18V18" stroke="#262F56" stroke-width="1.8"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <rect x="2" y="11" width="20" height="3" rx="1.5" stroke="#262F56" stroke-width="1.8" />
                                <rect x="2" y="14" width="20" height="4" rx="2" stroke="#262F56" stroke-width="1.8" />
                            </svg>
                        </span>
                        Food Package
                    </h2>

                    <div class="font-thin block">
                        <p class="text-xs text-gray-600 my-1"><span class="font-bold">Test Includes:</span> 63</p>
                        <ul class="text-xs text-gray-600 flex flex-wrap">
                            <span class="font-bold pr-1">Sample Type:</span>
                            <li class="pr-2">Serum,</li>
                            <li class="pr-2">Urine,</li>
                            <li class="pr-2">Whole Blood</li>
                        </ul>
                        <p class="mt-1 mb-3 text-xs text-gray-600"><span class="font-bold">Fasting:</span> Required</p>
                    </div>

                    <section class="flex flex-wrap mt-4 mb-2">
                        <article
                            class="text-xl font-heading-font text-green-500 content-center pr-2">
                            $950
                        </article>
                        <article class="text-xs text-gray-500 font-heading-font line-through pt-2 pr-2">
                            $3025
                        </article>
                        <article class="text-xs text-left md:text-right text-gray-700 pt-2 font-heading-font">
                            $2075 <i class="fas fa-percent fa-xs"></i> Off
                        </article>
                    </section>
                </div>
            </a>
        </div>

        <div class="w-full md:w-1/4 px-2">
            <a href="#">
                <div class="border border-gray-400 hover:border-blue-500 hover:bg-gray-200 hover:shadow-md rounded py-2 px-5">
                    <h2 class="my-3 pb-3 font-bold text-2xl font-light leading-none text-gray-700">
                        <span class="w-6 inline-block text-white">
                            <svg class="inline-block fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4 11V11C4 10.0713 4 9.60689 4.04401 9.21625C4.40968 5.97091 6.97091 3.40968 10.2162 3.04401C10.6069 3 11.0713 3 12 3V3C12.9287 3 13.3931 3 13.7838 3.04401C17.0291 3.40968 19.5903 5.97091 19.956 9.21625C20 9.60689 20 10.0713 20 11V11M8 7L8.5 8M11.5 6.5L12 5.5M15.5 6.5L16 7.5"
                                    stroke="#262F56" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20 18V18C20 20.2091 18.2091 22 16 22H8C5.79086 22 4 20.2091 4 18V18" stroke="#262F56" stroke-width="1.8"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <rect x="2" y="11" width="20" height="3" rx="1.5" stroke="#262F56" stroke-width="1.8" />
                                <rect x="2" y="14" width="20" height="4" rx="2" stroke="#262F56" stroke-width="1.8" />
                            </svg>
                        </span>
                        Food Package
                    </h2>

                    <div class="font-thin block">
                        <p class="text-xs text-gray-600 my-1"><span class="font-bold">Test Includes:</span> 63</p>
                        <ul class="text-xs text-gray-600 flex flex-wrap">
                            <span class="font-bold pr-1">Sample Type:</span>
                            <li class="pr-2">Serum,</li>
                            <li class="pr-2">Urine,</li>
                            <li class="pr-2">Whole Blood</li>
                        </ul>
                        <p class="mt-1 mb-3 text-xs text-gray-600"><span class="font-bold">Fasting:</span> Required</p>
                    </div>

                    <section class="flex flex-wrap mt-4 mb-2">
                        <article
                            class="text-xl font-heading-font text-green-500 content-center pr-2">
                            $950
                        </article>
                        <article class="text-xs text-gray-500 font-heading-font line-through pt-2 pr-2">
                            $3025
                        </article>
                        <article class="text-xs text-left md:text-right text-gray-700 pt-2 font-heading-font">
                            $2075 <i class="fas fa-percent fa-xs"></i> Off
                        </article>
                    </section>
                </div>
            </a>
        </div>

        <div class="w-full md:w-1/4 px-2">
            <a href="#">
                <div class="border border-gray-400 hover:border-blue-500 hover:bg-gray-200 hover:shadow-md rounded py-2 px-5">
                    <h2 class="my-3 pb-3 font-bold text-2xl font-light leading-none text-gray-700">
                        <span class="w-6 inline-block text-white">
                            <svg class="inline-block fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4 11V11C4 10.0713 4 9.60689 4.04401 9.21625C4.40968 5.97091 6.97091 3.40968 10.2162 3.04401C10.6069 3 11.0713 3 12 3V3C12.9287 3 13.3931 3 13.7838 3.04401C17.0291 3.40968 19.5903 5.97091 19.956 9.21625C20 9.60689 20 10.0713 20 11V11M8 7L8.5 8M11.5 6.5L12 5.5M15.5 6.5L16 7.5"
                                    stroke="#262F56" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20 18V18C20 20.2091 18.2091 22 16 22H8C5.79086 22 4 20.2091 4 18V18" stroke="#262F56" stroke-width="1.8"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <rect x="2" y="11" width="20" height="3" rx="1.5" stroke="#262F56" stroke-width="1.8" />
                                <rect x="2" y="14" width="20" height="4" rx="2" stroke="#262F56" stroke-width="1.8" />
                            </svg>
                        </span>
                        Food Package
                    </h2>

                    <div class="font-thin block">
                        <p class="text-xs text-gray-600 my-1"><span class="font-bold">Test Includes:</span> 63</p>
                        <ul class="text-xs text-gray-600 flex flex-wrap">
                            <span class="font-bold pr-1">Sample Type:</span>
                            <li class="pr-2">Serum,</li>
                            <li class="pr-2">Urine,</li>
                            <li class="pr-2">Whole Blood</li>
                        </ul>
                        <p class="mt-1 mb-3 text-xs text-gray-600"><span class="font-bold">Fasting:</span> Required</p>
                    </div>

                    <section class="flex flex-wrap mt-4 mb-2">
                        <article
                            class="text-xl font-heading-font text-green-500 content-center pr-2">
                            $950
                        </article>
                        <article class="text-xs text-gray-500 font-heading-font line-through pt-2 pr-2">
                            $3025
                        </article>
                        <article class="text-xs text-left md:text-right text-gray-700 pt-2 font-heading-font">
                            $2075 <i class="fas fa-percent fa-xs"></i> Off
                        </article>
                    </section>
                </div>
            </a>
        </div>

    </div>
</div>