<div class="grid gap-10 md:grid-cols-3">
    <div class="flex flex-col m-4 overflow-hidden rounded shadow-md hover:shadow-lg"> <!--  Card -->
        <img class="object-cover w-full h-56 sm:h-48" src="./img/violen.jpg" alt="..." style="clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);">

        <div class="p-4 -mt-6 overflow-y-visiblerflow-hidden md:-mt-8">
            <div class="font-sans text-lg font-semibold text-gray-600 capitalize md:text-xl">Music</div>
            
            <div class="md:mt-2">
                <p class="font-sans text-base antialiased font-semibold leading-6 text-gray-800 md:text-lg">Performance by the world acclaimed violinist John Snow</p>
            </div>

            <div class="flex pt-1 md:pt-4">
                <span class="font-sans text-xs text-gray-600 font-edium md:text-base">18:00 - 22:00</span>
                <span class="px-4 font-sans text-xs font-medium text-gray-600 md:text-base">Greek National Opera</span>
            </div>
        </div>

        <div class="flex p-4 align-middle border-t">
            <div>
                <img class="w-5 md:w-6" src="./img/culture.svg" alt="...">
            </div>

            <div class="px-4">
                <span class="font-sans text-xs font-medium text-gray-700 uppercase md:text-sm">culture</span>
            </div>
        </div>
    </div> <!-- end card    -->
</div>