<div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-8">
   <img  src="https://image.freepik.com/free-vector/programmer-coding-young-man-freelancer-working-program-code-with-laptop-geek-coding-software-vector-concept_53562-9214.jpg" alt="Programming">
   <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">        Which language should You Learn in 2020</div>
      <p class="text-gray-500 text-base">
         Python and JavaScript are easy-to-learn and therefore considered the best programming languages to learn for beginners.
      </p>
   </div>
   <div class="px-6 py-4">
      <span class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#python</span>
      <span class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">#javascript</span>
   </div>
</div>
