<div class="grid grid-cols-12 h-auto">
    <div class="p-10 col-span-12 lg:col-span-8">
        <p class="text-3xl">Add Shipping Address</p>
        <form class="mt-8 grid grid-cols-12 gap-4 h-auto">
            <input
                class="focus:outline-none focus:ring focus:ring-blue-500 p-4 rounded-md border text-sm col-span-12 lg:col-span-6"
                placeholder="Name"
            />
            <input
                class=" focus:outline-none focus:ring focus:ring-blue-500 p-4 rounded-md border text-sm col-span-12 lg:col-span-6 "
                placeholder="Phone Number"
            />
            <input
                class=" focus:outline-none focus:ring focus:ring-blue-500 p-4 rounded-md border text-sm col-span-12 lg:col-span-6 "
                placeholder="Pincode"
            />
            <input
                class=" focus:outline-none focus:ring focus:ring-blue-500 p-4 rounded-md border text-sm col-span-12 lg:col-span-6 "
                placeholder="Landmark"
            />
            <textarea
                type="text"
                class=" focus:outline-none focus:ring focus:ring-blue-500 p-4 rounded-md border h-24 text-sm col-span-12 "
                placeholder="Address"
            ></textarea>
            <input
                class=" focus:outline-none focus:ring focus:ring-blue-500 p-4 rounded-md border text-sm col-span-6 "
                placeholder="City/District/Town"
            />
            <input
                class="focus:outline-none focus:ring focus:ring-blue-500 p-4 rounded-md border text-sm col-span-6 "
                placeholder="State"
            />
            <button
                type="Submit"
                class="focus:outline-none mt-16 p-2 rounded-md col-span-12 text-white bg-blue-500"
            >
                Save and Deliver
            </button>
        </form>
    </div>
    <div class="p-10 col-span-12 lg:col-span-4 lg:border-l">
        <div class="text-xs flex">
            <p class="">Cart</p>
            <span class="mr-2 ml-2">---------</span>
            <p class="text-blue-500">Delivery</p>
            <span class="mr-2 ml-2">---------</span>
            <p>Payment</p>
        </div>
        <div class="mt-6 flex flex-col h-auto">
            <p class="text-xl font-semibold mt-8 mb-8">Order Summary</p>
            <div class="text-sm mt-1 mb-1 flex flex-row">
                <div class="flex-grow">Order Total</div>
                <div class="">Rs 2456.00</div>
            </div>
            <div class="text-sm mt-1 mb-1 flex flex-row">
                <div class="flex-grow">Delivery Charge</div>
                <div class="">Rs 150.00</div>
            </div>
        </div>
        <div class="mt-3 flex flex-col h-auto">
            <p class="text-xl font-semibold mt-8 mb-8">Delivery Summary</p>
            <div class="grid grid-cols-12 gap-2">
                <div class="col-span-3 row-span-1">
                    <img
                        class="w-20 h-20"
                        src="https://previews.123rf.com/images/payphoto/payphoto0912/payphoto091200048/6107505-abstract-colorful-blur-square-background.jpg"
                    />
                </div>
                <div class="pl-2 col-span-9">
                    <div
                        class=" pb-1 row-span-1 col-span-12 text-lg font-semibold "
                    >
                        Standard Delivery
                    </div>
                    <div class="pb-3 row-span-1 col-span-12 text-sm">
                        Expected on 21 May, 2021
                    </div>
                    <div class="row-span-1 col-span-12 text-sm flex">
                        <div class="flex-grow">Rs 120</div>
                        <div class="pr-1 text-blue-500">Change</div>
                    </div>
                </div>
            </div>
            <div class="mt-12 flex text-sm font-semibold">
                <div class="flex-grow">Total Payable</div>
                <div>Rs 4000</div>
            </div>
            <button class="mt-3 p-2 rounded-md text-white bg-red-500">
                Place Order
            </button>
        </div>
    </div>
</div>
