<div class="max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl relative m-10">
    <span class="flex rounded-full bg-green-500 uppercase px-2 m-10 py-1 text-xs  animate-bounce font-bold mr-3 absolute top-0 right-0">New</span>
         <span class="flex rounded-full uppercase px-2 m-1 py-1 text-xs  font-bold mr-3 absolute top-0 right-0">4:36 PM</span>
     <div class="flex-shrink-0">
       <img src="https://source.unsplash.com/random" alt="" class="h-12 w-12 rounded-full" />
     </div>
     <div class="ml-6 pt-1">

       <h4 class="text-xl text-gray-900">Your Name</h4>
       <p class="text-base text-gray-600">You have a new message!</p>

     </div>
   </div>
