<div class="mb-10 xl:mb-0 xl:grid xl:grid-cols-12">
    <div class="bg-black text-center text-white flex xl:flex-col items-center justify-around col-span-1 py-3 lg:py-0">
        <h1 class="xl:text-6xl text-xl font-semibold italic">P.</h1>
        <p class="hidden lg:block"><i class="fa fa-th fa-2x"></i></p>
        <p class="lg:hidden"><i class="fa fa-th"></i></p>
        <p class="hidden lg:block"><i class="fa fa-question-circle fa-2x"></i></p>
        <p class="lg:hidden"><i class="fa fa-question-circle"></i></p>
    </div>
    <div class="bg-gray-100 col-span-8 pb-12">
        <h1 class="text-4xl pl-12 pt-10 pb-6 font-medium">01 &nbsp;&nbsp;Shipping</h1>
        <div class="flex flex-col mx-8 lg:mx-0 lg:flex-row justify-around">
            <div class="flex flex-row items-center lg:w-2/5 justify-between bg-white shadow-md py-3 px-6">
                <input type="radio" name="Shipping" id="">
                    <div>
                        <p class="font-semibold">DHL Parcel Service</p>
                        <p class="text-xs text-gray-600">Express delivery in 48 hours.</p>
                    </div>
                <p class="font-bold">$19.99</p>
            </div>
            <div class="flex flex-row items-center lg:w-2/5 justify-between bg-white shadow-md py-3 px-6">
                <input type="radio" name="Shipping" id="">
                    <div>
                        <p class="font-semibold">Fedex Shipping</p>
                        <p class="text-xs text-gray-600">Delivery in 2-4 weeks.</p>
                    </div>
                <p class="font-bold">$4.99</p>
            </div>
        </div>
        <h1 class="text-4xl pl-12 pt-10 pb-6 font-medium">02 &nbsp;&nbsp;Address</h1>
        <div class="flex flex-col lg:flex-row mx-8 lg:mx-0 justify-around">
            <p class="lg:w-2/5 bg-white shadow-md py-2 px-6"><input type="text" name="" id="" placeholder="First Name" class="py-3 w-full"></p>
            <p class="mt-4 lg:mt-0 lg:w-2/5 bg-white shadow-md py-2 px-6"><input type="text" name="" id="" placeholder="Last Name" class="py-3 w-full"></p>
        </div>
        <div class="flex flex-col lg:flex-row mx-8 lg:mx-0 justify-around mt-4">
            <p class="lg:w-2/5 bg-white shadow-md py-2 px-6"><input type="text" name="" id="" placeholder="Company" class="py-3 w-full"></p>
            <div class="hidden lg:w-2/5 lg:bg-gray-100 lg:py-2 lg:block lg:px-6"></div>
        </div>
        <div class="flex flex-col lg:flex-row mx-8 lg:mx-0 justify-around mt-4">
            <p class="lg:w-2/5 bg-white shadow-md py-2 px-6"><input type="text" name="" id="" placeholder="Email" class="py-3 w-full"></p>
            <p class="mt-4 lg:mt-0 lg:w-2/5 bg-white shadow-md py-2 px-6"><input type="text" name="" id="" placeholder="Phone Number" class="py-3 w-full"></p>
        </div>
        <div class="flex flex-col lg:flex-row mx-8 lg:mx-0 justify-around mt-4">
            <p class="lg:w-2/5 bg-white shadow-md py-2 px-6"><input type="text" name="" id="" placeholder="Zip Code" class="py-3 w-full"></p>
            <p class="mt-4 lg:mt-0 lg:w-2/5 bg-white shadow-md py-2 px-6"><input type="text" name="" id="" placeholder="Address" class="py-3 w-full"></p>
        </div>
        <div class="flex flex-col lg:flex-row mx-8 lg:mx-0 justify-around mt-4">
            <p class="lg:w-2/5 bg-white shadow-md py-2 px-6"><input type="text" name="" id="" placeholder="City" class="py-3 w-full"></p>
            <div class="mt-4 lg:mt-0 lg:w-2/5 bg-white shadow-md py-2 px-6">
                <select name="" id="" class="py-3 w-full">
                    <option value="">India</option>
                    <option value="">Bhutan</option>
                    <option value="">Sri Lanka</option>
                    <option value="">Nepal</option>
                    <option value="">Myanmar</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-span-3">
        <div class="flex flex-row font-semibold mx-8 justify-between text-2xl mt-16">
            <p>Your Cart</p>
            <p>(02)</p>
        </div>
        <div class="flex flex-row mx-8 justify-between mt-6 mb-2">
            <img src="https://source.unsplash.com/user/erondu/400x300" class="w-24 h-18">
            <div>
                <p class="text-sm font-medium">Product 1 Name</p>
                <p class="text-xs text-gray-600">A5, Heavy</p>
                <p class="text-xs text-gray-600">Qty: 1</p>
            </div>
            <p>$17.49</p>
        </div>
        <div class="flex flex-row mx-8 justify-between mt-6 mb-2">
            <img src="https://source.unsplash.com/collection/190727/400x300" class="w-24 h-18">
            <div>
                <p class="text-sm font-medium">Product 2 Name</p>
                <p class="text-xs text-gray-600">A3, Light</p>
                <p class="text-xs text-gray-600">Qty: 2</p>
            </div>
            <p>$4.99</p>
        </div>
        <p class="underline text-xs text-gray-500 ml-8">Edit Cart</p>
        <hr class="m-8">
        <div class="flex flex-row justify-between mx-8">
            <p class="font-semibold">SUBTOTAL</p>
            <p class="font-semibold">$22.48</p>
        </div>
        <hr class="m-8">
        <div class="flex flex-row gap-32 mx-8 items-center justify-between">
            <p class="text-gray-500 font-semibold text-sm">Shipping to India</p>
            <p class="font-semibold">$19.99</p>
        </div>
        <hr class="m-8">
        <div class="flex flex-row gap-32 mx-8 justify-between">
            <p class="font-extrabold">TOTAL</p>
            <p class="font-extrabold">$42.47</p>
        </div>
    </div>
</div>
