<div class="bg-gray-100 min-w-screen min-h-screen flex items-center justify-center p-5">
    <div class="max-w-6xl w-full flex flex-col text-center lg:text-left items-center lg:block bg-gradient-to-br from-purple-600 via-indigo-500 to-teal-400 mx-auto py-8 px-4 sm:px-6 md:pb-0 md:pt-12 lg:px-12 lg:py-12 shadow-2xl rounded-lg relative">
        <h2 class="text-3xl sm:text-4xl md:text-5xl my-4 lg:my-0 xl:text-4xl font-extrabold tracking-tight sm:leading-tight text-white">
            Infastructure that is <span class="text-indigo-200 block xl:inline">out of this world</span>
        </h2>
        <p class="text-indigo-200 text-sm xl:text-base uppercase font-medium xl:tracking-wider mt-1 mb-10 lg:mb-0">Pushing the envelope for being awesome!</p>
        <div class="lg:mt-6 flex mb-8 lg:mb-0">
            <div class="inline-flex">
                <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:shadow-outline focus:border-indigo-300 transition duration-150 ease-in-out">
                    Sign Up Today
                </a>
            </div>
        </div>
        <div class="lg:absolute right-0 bottom-0 mr-3 mb-0 lg:-mb-12">
            <img src="https://cdn.devdojo.com/images/september2020/cta-1.png" class="max-w-xs md:max-w-2xl lg:max-w-lg mb-4 xl:mb-0 xl:max-w-md opacity-75">
        </div>
    </div>
</div>