<div
	class="relative flex flex-col items-center justify-center min-h-screen bg-white bg-cover min-w-screen"
>
	<div
		class="flex flex-col flex-col-reverse items-center justify-center p-10 mx-auto lg:flex-row lg:max-w-6xl lg:p-0"
	>
		<div
			class="relative w-full pr-10 rounded-lg cursor-pointer md:w-2/3 lg:w-1/2 group"
		>
			<div class="relative rounded-md">
				<img
					src="https://media1.giphy.com/media/yy3yJ0pBtvjXC44FE3/giphy.gif"
					class="z-10 object-cover w-full h-full"
				/>
			</div>
		</div>
		<div
			class="container relative z-20 flex flex-col w-full px-5 pr-12 mb-16 text-2xl text-gray-700 lg:w-1/2 sm:px-0 md:px-10 sm:items-center lg:items-start lg:mb-0"
		>
			<h1
				class="relative z-20 font-sans text-4xl font-extrabold leading-none text-black sm:text-5xl xl:text-6xl sm:text-center lg:text-left"
			>
				<span class="relative">
					<span
						class="absolute bottom-0 left-0 inline-block w-full h-4 mb-1 -ml-1 transform -skew-x-3 bg-blue-200"
					></span>
					<span class="relative">Contribute or Donate</span>
				</span>
			</h1>
			<p
				class="relative z-20 block mt-6 text-base text-gray-500 xl:text-lg sm:text-center lg:text-left"
			>
				<span class="font-bold">Our Software</span> is proudly free for all and
				open-source, built and managed by a world-wide community of passionate
				developers.
			</p>

			<p
				class="relative z-20 block mt-6 text-base text-green-500 xl:text-lg sm:text-center lg:text-left"
			>
				Love our product? Want to contribute somehow? Sure you can! You can
				contribute code on our Github with your ideas to improve XYZ, or donate
				to our Paypal. Either way, you become an official supporter of the
				community!
			</p>
			<div class="flex mt-4">
				<a
					href="#_"
					class="flex items-center justify-center self-start px-5 py-3 border border-transparent text-base leading-tight font-medium rounded-lg shadow text-white bg-red-400 hover:bg-green-300 focus:outline-none transition duration-150 ease-in-out md:py-4 md:text-lg md:px-8 mt-5"
					>Contribute Code</a
				>
				<a
					href="#_"
					class="flex items-center justify-center self-start px-5 py-3 border-transparent text-base leading-tight font-medium rounded-lg shadow bg-gray-200 hover:bg-white focus:outline-none focus:border-gray-100 focus:shadow-outline-gray transition duration-150 ease-in-out md:py-4 md:text-lg md:px-8 mt-5 ml-5"
					>Donate</a
				>
			</div>
		</div>
	</div>
</div>
