<div class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">        

        <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- For centering the contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;

        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all lg:w-2xl sm:my-8 sm:align-middle sm:max-w-sm sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                        <svg width="24" height="24" class="text-red-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="19" y1="5" x2="5" y2="19"></line>
                            <circle cx="6.5" cy="6.5" r="2.5"></circle>
                            <circle cx="17.5" cy="17.5" r="2.5"></circle>
                        </svg>
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-3xl pt-1 leading-6 font-semibold text-gray-900" id="modal-headline">
                            Discount
                        </h3>
                    </div>
                </div>
            </div>
            <div class="pl-6 text-xs">
                Coupon details here:
            </div>
            <div class="bg-gray-50 px-4 text-xs pt-3 pt-1 sm:px-6 sm:flex sm:flex-row-reverse">
                <div class="border-dashed font-mono border-2 border-red-400 rounded p-2 flex w-full select-all">
                    XXXX-XXXX-XXXXX
                </div>
            </div>
            <div style="font-size:55%;" class="justify-center w-full px-4 text-right font-sans text-xs leading-6 font-medium text-gray-500">
                <a href="#">**Terms and conditions apply</a>
            </div>
        </div>
    </div>
</div>
