<div class="bg-white">
    <h2 style="text-align:center;font-size:24px;margin:2%;opacity:70%"><b>Demo Phone</b></h2>
    <div>
        <div class="shadow-lg p-3 mb-5 bg-white rounded" style="text-align:centre;float:right;margin-right:10%;padding:2%;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZLIqKKqTEj_EAfv10MjrHYeTNxoBA0Gsknw&usqp=CAU" alt="PhoneImage" style="width:100%; height:100%;">

        </div>
    </div>
    <div>
        <h1 style="opacity:60%; margin:3%;">
            Users' number one choice in terms of performance, looks and features.<br>
            Display:17.0 cm(6.7″)<br>
            Camera:12-megapixel
        </h1>
        <div class="mt-1 flex" style="margin:3%;">
            <p class="mt-1 text-m text-black-500" style="margin-right:2%;opacity:60%;">Price</p>
            <p class=" mt-1 text-lg font-medium text-gray-900">$500</p>
        </div>
        <div class="mt-1 flex" style="margin:3%;">
            <p class="mt-1 text-m text-black-500" style="margin-right:2%;opacity:60%;">colors</p>
            <p class=" mt-1 text-lg font-medium text-gray-900">
                <button style="background-color: #00e6e6;height: 25px;width: 25px;border-radius: 50%;display: inline-block;margin-right: 5px;margin-left: 5px;opacity:65%"></button>
                <button style="background-color: #000000;height: 25px;width: 25px;border-radius: 50%;display: inline-block;margin-right: 5px;margin-left: 5px;opacity:65%"></button>
                <button style="background-color: #cc00cc;height: 25px;width: 25px;border-radius: 50%;display: inline-block;margin-right: 5px;margin-left: 5px;opacity:65%"></button>
            </p>
        </div>
        <div class="mt-1 flex" style="margin:3%;">
            <p class="mt-1 text-m text-black-500" style="margin-right:2%;opacity:60%;">Manufacturer</p>
            <p class=" mt-1 text-lg font-medium text-gray-900">XYZ Ltd.</p>
        </div>
    </div>

    <div style="margin:3% ;text-align:center;">
        <button class="shadow-lg p-3 mb-5 bg-white rounded" style="text-align:center;margin-right:10%;padding:1%;opacity:70%" type="button"><b>Shop Now</b></button>
    </div>
</div>
</div>
