<div class="relative min-h-screen bg-white min-w-screen">
    <div class="relative top-0 left-0 w-full h-64 lg:absolute lg:w-1/2 lg:h-full">
        <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80"
            alt="Persons sitting around a wooden table coding"
            class="inset-0 object-cover w-full h-full lg:absolute">
    </div>
    <div class="flex items-center justify-center h-full max-w-6xl pt-0 pb-20 mx-auto lg:pt-24">
        <div class="hidden w-1/2 lg:block"></div>
        <div
            class="relative flex flex-col items-start justify-center w-full h-full pl-12 pr-10 lg:w-1/2 lg:pl-16 lg:pr-0">
            <p class="text-sm font-bold tracking-wide text-indigo-500 uppercase">Cool Features</p>
            <h2 class="mt-5 text-4xl font-bold leading-tight text-gray-900">Awesome Features to <br> help build your
                Empire.
            </h2>
            <p class="mt-5 text-base text-gray-600">Are you ready for some badass features? If so, we've got you
                covered. From
                Cotton Candy Flavored Donuts to Fully Featured Eggs and Bacon. Whatever the fuck that means.</p>
            <a href="#_" class="flex items-center inline-block mt-8 font-medium text-indigo-500 underline">
                <span>Learn More</span>
                <svg class="w-4 h-4 mt-1 ml-1 transform -rotate-45" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3">
                    </path>
                </svg>
            </a>
        </div>
    </div>
</div>
