<div class="bg-white">
    <h2 class="text-2xl text-gray-900 font-extrabold tracking-tight " style="text-align:center;margin:2%">Shopping Cart</h2>    
   
    <div class="shadow-lg p-3 mb-5 bg-white rounded" style="background-color:#e6e6e6; width:70%; height:80%;margin:2%;float:left;">
     <table class="table" style="width:100%;height:100%; text-align:center;">
  <thead >
    <tr>
      <th scope="col" >Product</th>
      <th scope="col" style="margin-right:2%;" >Price</th>
      <th scope="col" style="margin:2%;">Quantity</th>
      <th scope="col" style="margin:2%;">Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td style="display:inline-block;">
          <img style="width:250px; margin:2%;" src="https://media.istockphoto.com/photos/folded-blue-jeans-on-a-white-background-modern-casual-clothing-flat-picture-id1281304280?b=1&k=20&m=1281304280&s=170667a&w=0&h=9_JNmFQX6Dq3bOA5XoBRaPQbrO4hH6TuwZXMhyGnZ_A=" alt="ClothImage" >
        <p style="opacity:60%;">Blue Jeans</p>
    </td>
      <td>$45.99</td>
      <td><div class="shadow-sm p-1 mb-1 bg-white rounded" style="text-align:center;">2</div></td>
      <td>$91.98</td>
    </tr>
  
  </tbody>
</table>  
    </div>
    <div class="shadow-lg p-3 mb-5 bg-white rounded" style="background-color:#e6e6e6; width:20%; height:80%;margin:2%;float:right;">
       <h1 style="text-align:center;font-size:20px; margin:2% ;"><b>CART TOTALS</b></h1>
       <table style="width:100%;">
           <tbody>
               <tr>
                   <th>Subtotal</th>
                   <td>$45.99</td>
               </tr>
               <tr>
                   <th>Total</th>
                   <td style="font-size:25px"><b>$45.99</b></td>
               </tr>
           </tbody>
       </table>
       <div style="text-align:center; margin-top:10%;">
       <button class="shadow-lg p-3 mb-5 bg-white rounded" style="opacity:70%;"><b>Checkout</b></button>
       </div>
    </div>

</div>    