<div class="bg-white">
    <h2 class="text-2xl  font-extrabold tracking-tight text-center m-3 text-gray-900" >Shopping Cart</h2>    
   <div class="space-y-4 lg:space-y-4">
    <div class="shadow-lg p-3 m-5 bg-white rounded bg-gray-300 w-auto lg:w-8/12 h-auto m-3 block lg:inline-block  float-center lg:float-left ">
     <table class="table w-full h-full text-center" >
  <thead >
    <tr>
      <th scope="col" >Product</th>
      <th scope="col" class="m-2" >Price</th>
      <th scope="col" class="m-2">Quantity</th>
      <th scope="col" class="m-2">Subtotal</th>
    </tr>
  </thead>
  <tbody> 
    <tr >
      <td class="inline-block">
         <a href="#productDetails"> <img class="w-full h-20" src="https://media.istockphoto.com/photos/folded-blue-jeans-on-a-white-background-modern-casual-clothing-flat-picture-id1281304280?b=1&k=20&m=1281304280&s=170667a&w=0&h=9_JNmFQX6Dq3bOA5XoBRaPQbrO4hH6TuwZXMhyGnZ_A=" alt="ClothImage" > </a>
        <p class="opacity-50">Blue Jeans</p>
    </td>
      <td>$45.99</td>
      <td><div class="shadow-sm p-1 mb-1 bg-white rounded text-center">2</div></td>
      <td>$91.98</td>
    </tr>
  
  </tbody>
</table>  
    </div>
    <div class="shadow-lg p-3 m-5 bg-gray-300 rounded  w-auto lg:w-1/4 h-auto  block lg:inline-block float-center lg:float-right">
       <h1 class="text-center text-lg m-2"><b>CART TOTALS</b></h1>
       <table class="w-full h-full">
           <tbody>
               <tr>
                   <th>Subtotal</th>
                   <td>$45.99</td>
               </tr>
               <tr>
                   <th>Total</th>
                   <td class="text-2xl"><b>$45.99</b></td>
               </tr>
           </tbody>
       </table>
       <div class="text-center mt-5">
       <button class="shadow-lg p-3 m-5 bg-white rounded "><b>Checkout</b></button>
       </div>
    </div>
    </div>

</div>    