<div class="bg-gray-200">
    <div class="container mx-auto px-4 py-8 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center border-b-2 border-gray-400">
            <h2 class="text-xl tracking-wider font-semibold py-4">
                Recent Courses
            </h2>
            <a href="#" class="font-semibold text-sm text-indigo-600 hover:underline">View All</a>
        </div>
        <div class="mt-8 grid gap-5 max-w-lg mx-auto md:grid-cols-2 lg:grid-cols-3 md:max-w-none">
            <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
                <div class="flex-shrink-0 relative">
                    <img class="h-56 w-full object-cover" src="https://www.masteringnova.com/images/seo-image.jpg" alt="" />
                    <span class="absolute right-0 bottom-0 mr-4 -mb-3 inline-flex items-center border px-3 py-1 leading-tight rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                        12 reviews
                    </span>
                </div>
                <div class="flex-1 flex flex-col justify-between">
                    <div class="flex-1 flex flex-col justify-between bg-white p-6">
                        <div>
                            <a href="#" class="block text-xl leading-7 font-semibold text-gray-900">
                                Mastering Nova
                            </a>
                            <p class="mt-3 text-base leading-6 text-gray-500">
                                Laravel Nova Tutorial - Learn how to develop new features, create UI components and deploy to production in Laravel Nova.
                            </p>
                        </div>
                        <p class="mt-3 text-sm leading-5 font-medium">
                            <a href="#" class="inline-block">
                                <span class="inline-flex items-center px-3 py-1 leading-tight rounded-full text-xs font-medium bg-blue-100 text-blue-800">
                                    Nova
                                </span>
                            </a>
                        </p>
                    </div>
                    <div class="flex items-center bg-gray-100 p-6">
                        <div class="flex-shrink-0">
                            <a href="#">
                                <img class="h-10 w-10 rounded-full" src="https://avatars0.githubusercontent.com/u/34269950?s=460&u=79f672a1a3ad326c58fdcc3f7779bfbecf365fe6&v=4" alt="" />
                            </a>
                        </div>
                        <div class="ml-3">
                            <p class="text-sm leading-5 font-medium text-gray-900">
                                <a href="#" class="hover:underline">
                                    Bruno Falcao
                                </a>
                            </p>
                            <div class="text-xs leading-5 text-gray-600">
                                <time>
                                    Mid Summer, 2020
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
                <div class="flex-shrink-0 relative">
                    <img class="h-56 w-full object-cover" src="https://laravelpackage.training/images/social-card.jpg" alt="" />
                    <span class="absolute right-0 bottom-0 mr-4 -mb-3 inline-flex items-center border px-3 py-1 leading-tight rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                        16 reviews
                    </span>
                </div>
                <div class="flex-1 flex flex-col justify-between">
                    <div class="flex-1 flex flex-col justify-between bg-white p-6">
                        <div>
                            <a href="#" class="block text-xl leading-7 font-semibold text-gray-900">
                                Laravel Package Training
                            </a>
                            <p class="mt-3 text-base leading-6 text-gray-500">
                                The Laravel Package training video course is the best way to learn how to create PHP and Laravel packages. A premium video course by Spatie.
                            </p>
                        </div>
                        <p class="mt-3 text-sm leading-5 font-medium">
                            <a href="#" class="inline-block">
                                <span class="inline-flex items-center px-3 py-1 leading-tight rounded-full text-xs font-medium bg-red-100 text-red-800">
                                    Package Development
                                </span>
                            </a>
                        </p>
                    </div>
                    <div class="flex items-center bg-gray-100 p-6">
                        <div class="flex-shrink-0">
                            <a href="#">
                                <img class="h-10 w-10 rounded-full" src="https://avatars3.githubusercontent.com/u/483853?s=460&u=0af4259a30bd4c45d576422bc9f8e6c6ede88664&v=4" alt="" />
                            </a>
                        </div>
                        <div class="ml-3">
                            <p class="text-sm leading-5 font-medium text-gray-900">
                                <a href="#" class="hover:underline">
                                    Freek Van der Herten
                                </a>
                            </p>
                            <div class="text-xs leading-5 text-gray-600">
                                <time>
                                    Jun 4, 2020
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
                <div class="flex-shrink-0 relative">
                    <img class="h-56 w-full object-cover" src="https://eloquent-course.reinink.ca/img/preview.png" alt="" />
                    <span class="absolute right-0 bottom-0 mr-4 -mb-3 inline-flex items-center border px-3 py-1 leading-tight rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                        22 reviews
                    </span>
                </div>
                <div class="flex-1 flex flex-col justify-between">
                    <div class="flex-1 flex flex-col justify-between bg-white p-6">
                        <div>
                            <a href="#" class="text-xl leading-7 font-semibold text-gray-900">
                                Eloquent Performance Patterns
                            </a>
                            <p class="mt-3 text-base leading-6 text-gray-500">
                                Learn how to drastically improve the performance of your Laravel applications by pushing more work to the database, all while still using the Eloquent ORM.
                            </p>
                        </div>
                        <p class="mt-3 text-sm leading-5 font-medium">
                            <a href="#" class="inline-block">
                                <span class="inline-flex items-center px-3 py-1 leading-tight rounded-full text-xs font-medium bg-orange-100 text-orange-800">
                                    Eloquent
                                </span>
                            </a>
                        </p>
                    </div>
                    <div class="flex items-center bg-gray-100 p-6">
                        <div class="flex-shrink-0">
                            <a href="#">
                                <img class="h-10 w-10 rounded-full" src="https://avatars2.githubusercontent.com/u/882133?s=88&u=7f9f5b4f35004af99b565a984e1b64b32b884a4c&v=4" alt="" />
                            </a>
                        </div>
                        <div class="ml-3">
                            <p class="text-sm leading-5 font-medium text-gray-900">
                                <a href="#" class="hover:underline">
                                    Jonathan Reinink
                                </a>
                            </p>
                            <div class="text-xs leading-5 text-gray-600">
                                <time>
                                    Jun 3, 2020
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
