<div class="bg-gray-100">
    <div class="container px-4 pt-2 pb-8 mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center justify-between border-b border-gray-300">
            <h2 class="py-4 text-2xl font-medium tracking-wide text-gray-800">Recent Courses</h2>
            <a href="#" class="text-sm font-semibold text-indigo-600 hover:underline">View All</a>
        </div>
        <div class="grid max-w-lg gap-5 mx-auto mt-8 md:grid-cols-2 lg:grid-cols-3 md:max-w-none">
            <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                <div class="relative flex-shrink-0">
                    <img class="object-cover w-full h-56" src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" />
                    <span class="absolute bottom-0 right-0 inline-flex items-center px-3 py-1 mr-4 -mb-3 text-xs font-medium leading-tight text-gray-800 bg-gray-100 border rounded-full">12 reviews</span>
                </div>
                <div class="flex flex-col justify-between flex-1">
                    <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                        <div>
                            <a href="#" class="block text-xl font-semibold leading-7 text-gray-900">Mastering Livewire</a>
                            <p class="mt-3 text-base leading-6 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <p class="mt-3 text-sm font-medium leading-5">
                            <a href="#" class="inline-block">
                                <span class="inline-flex items-center px-3 py-1 text-xs font-medium leading-tight text-blue-800 bg-blue-100 rounded-full">Livewire</span>
                            </a>
                        </p>
                    </div>
                    <div class="flex items-center p-6 bg-gray-100">
                        <div class="flex-shrink-0">
                            <a href="#">
                                <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                            </a>
                        </div>
                        <div class="ml-3">
                            <p class="text-sm font-medium leading-5 text-gray-900">
                                <a href="#" class="hover:underline">Tom Cook</a>
                            </p>
                            <div class="text-xs leading-5 text-gray-600">
                                <time>Mid Summer, 2020</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                <div class="relative flex-shrink-0">
                    <img class="object-cover w-full h-56" src="https://images.unsplash.com/photo-1565106430482-8f6e74349ca1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" />
                    <span class="absolute bottom-0 right-0 inline-flex items-center px-3 py-1 mr-4 -mb-3 text-xs font-medium leading-tight text-gray-800 bg-gray-100 border rounded-full">16 reviews</span>
                </div>
                <div class="flex flex-col justify-between flex-1">
                    <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                        <div>
                            <a href="#" class="block text-xl font-semibold leading-7 text-gray-900">In Depth Laravel</a>
                            <p class="mt-3 text-base leading-6 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <p class="mt-3 text-sm font-medium leading-5">
                            <a href="#" class="inline-block">
                                <span class="inline-flex items-center px-3 py-1 text-xs font-medium leading-tight text-red-800 bg-red-100 rounded-full">Laravel</span>
                            </a>
                        </p>
                    </div>
                    <div class="flex items-center p-6 bg-gray-100">
                        <div class="flex-shrink-0">
                            <a href="#">
                                <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="" />
                            </a>
                        </div>
                        <div class="ml-3">
                            <p class="text-sm font-medium leading-5 text-gray-900">
                                <a href="#" class="hover:underline">Margot Foster</a>
                            </p>
                            <div class="text-xs leading-5 text-gray-600">
                                <time>Jun 4, 2020</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
                <div class="relative flex-shrink-0">
                    <img class="object-cover w-full h-56" src="https://images.unsplash.com/photo-1512758017271-d7b84c2113f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" />
                    <span class="absolute bottom-0 right-0 inline-flex items-center px-3 py-1 mr-4 -mb-3 text-xs font-medium leading-tight text-gray-800 bg-gray-100 border rounded-full">22 reviews</span>
                </div>
                <div class="flex flex-col justify-between flex-1">
                    <div class="flex flex-col justify-between flex-1 p-6 bg-white">
                        <div>
                            <a href="#" class="text-xl font-semibold leading-7 text-gray-900">Eloquent Tips</a>
                            <p class="mt-3 text-base leading-6 text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <p class="mt-3 text-sm font-medium leading-5">
                            <a href="#" class="inline-block">
                                <span class="inline-flex items-center px-3 py-1 text-xs font-medium leading-tight text-orange-800 bg-orange-100 rounded-full">Eloquent</span>
                            </a>
                        </p>
                    </div>
                    <div class="flex items-center p-6 bg-gray-100">
                        <div class="flex-shrink-0">
                            <a href="#">
                                <img class="w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80" alt="" />
                            </a>
                        </div>
                        <div class="ml-3">
                            <p class="text-sm font-medium leading-5 text-gray-900">
                                <a href="#" class="hover:underline">John Cooper</a>
                            </p>
                            <div class="text-xs leading-5 text-gray-600">
                                <time>Jun 3, 2020</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
