<div class="pb-1 text-center text-gray-700">
    <div class="container relative max-w-2xl px-5 pt-12 mx-auto">
        <h2 class="mb-10 text-4xl font-extrabold leading-10 tracking-tight text-left text-gray-900 sm:text-5xl sm:leading-none md:text-6xl sm:text-center">
            3 steps
        </h2>
        <p class="mt-5 text-xl text-left opacity-75 sm:text-center">
            Here are some steps for preparing for future emergencies, for example, collecting large amounts of food and learning how to live outdoors:
        </p>
    </div>
    <div class="my-8">
        <div class="max-w-xl px-4 mx-auto sm:px-6 lg:max-w-screen-xl lg:px-8">
            <div class="lg:grid lg:grid-cols-3 lg:gap-8">
                <div class="p-8">
                    <div class="relative font-bold inline-flex items-center text-3xl justify-center w-12 h-12 bg-indigo-500 text-white rounded-full">
                        1
                    </div>
                    <div class="mt-3 mb-6">
                        <h5 class="pb-2 text-xl font-bold leading-6 text-gray-600">Improvise</h5>
                        <p class="mt-1 text-base leading-6 text-gray-500">
                            Improvisation is the activity of making or doing something not planned beforehand, using
                            whatever can be found.
                        </p>
                    </div>
                </div>
                <div class="p-8">
                    <div class="relative font-bold inline-flex items-center text-3xl justify-center w-12 h-12 bg-indigo-500 text-white rounded-full">
                        2
                    </div>
                    <div class="mt-3 mb-6">
                        <h5 class="pb-2 text-xl font-bold leading-6 text-gray-600">Adapt</h5>
                        <p class="mt-1 text-base leading-6 text-gray-500">
                            To make suitable to requirements or conditions; adjust or modify fittingly.
                        </p>
                    </div>
                </div>
                <div class="p-8">
                    <div class="relative font-bold inline-flex items-center text-3xl justify-center w-12 h-12 bg-indigo-500 text-white rounded-full">
                        3
                    </div>
                    <div class="mt-3 mb-6">
                        <h5 class="pb-2 text-xl font-bold leading-6 text-gray-600">Overcome</h5>
                        <p class="mt-1 text-base leading-6 text-gray-500">
                            To defeat or succeed in controlling or dealing with something.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>