<div
  class="container mx-auto mt-0"
  style="
    background-image: url(https://images.wallpaperscraft.com/image/water_surface_circles_131486_3840x2400.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  "
>
  <div class="mx-auto flex-wrap text-gray-800" style="max-width: 450px">
    <div style="flex: 0 1 100%">
      <h1
        class="font-bold text-gray-800 text-3xl"
        style="flex: 0 1 100%; text-align: center"
      >
        <font color="green" size="12px">C</font>ONTACT
        <font color="green" size="12px">U</font>S
      </h1>
    </div>
    <div class="flex items-center mt-2" style="flex: 0 1 100%">
      <hr class="border-t-2 flex-auto" />
      <span class="px-4 text-gray-600 font-light"
        ><strong><font color="white">X</font></strong></span
      >
      <hr class="border-t-2 flex-auto" />
    </div>
    <div class="flex mt-4" style="flex: 0 1 100%">
      <form style="flex: 0 1 100%">
        <div class="flex" style="flex: 0 1 100%">
          <div class="flex-grow mr-2">
            <label class="block mb-1 font-bold" for="">First Name</label>
            <input
              class="bg-gray-300 w-full rounded-lg py-3 px-3 shadow-inner"
              type="text"
            />
          </div>
          <div class="flex-grow ml-2">
            <label class="block mb-1 font-bold" for="">Last Name</label>
            <input
              class="bg-gray-300 w-full rounded-lg py-3 px-3 shadow-inner"
              type="text"
            />
          </div>
        </div>
        <div class="flex mt-2" style="flex: 0 1 100%">
          <div class="flex-grow mr-2">
            <label class="block mb-1 font-bold" for="">Email Address</label>
            <input
              placeholder="abc@gmail.com"
              class="bg-gray-200 w-full rounded-lg py-3 px-3 shadow-inner"
              type="email"
            />
          </div>
        </div>
        <div class="flex mt-2" style="flex: 0 1 100%">
          <div class="flex-grow mr-2">
            <label class="block mb-1 font-bold" for="">Enter Description</label>
            <textarea
              placeholder="Start typing ..."
              class="bg-gray-200 w-full rounded-lg py-3 px-3 shadow-inner"
              rows="6"
              cols="50"
            ></textarea>
          </div>
        </div>
        <div class="flex mt-4 items-start" style="flex: 0 1 100%">
          <input
            class="h-6 w-6 mr-2"
            type="checkbox"
            checked
            style="transform: scale(1.2)"
          />
          <div class="text-blue-600 leading-tight text-gray-500 font-light">
            <strong> Thank you for getting in touch! </strong>
          </div>
        </div>
        <div class="flex mt-4" style="flex: 0 1 100%">
          <button
            class="text-white relative py-4 rounded"
            style="background-color: #ea4c89; flex: 0 1 50%"
          >
            <div>
              <strong> <font size="3px">SEND</font></strong>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
