<div>  
    <div class="float-left">
        <div class="my-6 mx-16">
            <div class="py-2 text-6xl font-bold text-purple-700">
                <h1>Shopping <br> 
                    Made Easier!
                </h1>
            </div>
            <div>
                <p class="text-xl">
                    We've designed the best shopping experience. <br>
                    Now just one click away!
                </p>
            </div>
            <div class="my-10">
                <a href=#>
                    <span class=" border-4 px-4 rounded-full border-transparent bg-green-500 text-white p-2 hover:bg-green-600">Start Shopping</span>
                </a>
                <a href=#>
                    <span class="mx-8 px-4 border-4 rounded-full border-transparent bg-gray-400 text-white p-2 hover:bg-gray-500">Learn More</span>
                </a>
            </div>
        </div>
        <div>
            
        </div>
    </div>
    <div class="float-right my-8 px-20">
        <img src="https://source.unsplash.com/400x450/?simple" alt="shopping">
    </div>
</div>