<div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-16">
    <div
        class="flex flex-col max-w-screen-lg overflow-hidden bg-white border rounded-lg shadow-xl lg:flex-row sm:mx-auto">
        <div class="relative lg:w-1/2" style="clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
">
            <img src="https://images.unsplash.com/photo-1517330357046-3ab5a5dd42a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"
                alt="Persons talking in a work setting." class="object-cover w-full lg:absolute h-80 lg:h-full" />
        </div>
        <div class="flex flex-col justify-center p-8 bg-white lg:p-16 lg:pl-10 lg:w-1/2">

            <h5 class="mb-3 text-3xl font-extrabold leading-none sm:text-4xl">
                 <span class="border-solid border-t-4 border-yellow-500">Your</span> Easy & Simple Hero Header
            </h5>
            <p class="py-5 mb-5 text-gray-800">
                <span class="font-bold">Our Platform</span> will help you craft and build your next idea. Utilize our
                drag and
                drop components to build the application of your dreams.
            </p>
            <div class="flex items-center">
                <button type="submit"
                    class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 bg-yellow-500 rounded-full hover:bg-yellow-600 transform hover:-translate-y-2 hover:scale-105 focus:shadow-outline focus:outline-none ">
                    Get started
                    <svg class="inline-block w-2 ml-2" fill="currentColor" viewBox="0 0 12 12">
                        <path
                            d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z">
                        </path>
                    </svg>
                </button>
                <a href="/" aria-label=""
                    class="inline-flex items-center text-lg underline transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
                    Know More
                </a>
            </div>
        </div>
    </div>
</div>
