<div class="min-w-screen min-h-screen flex items-center justify-center bg-cover relative flex flex-col bg-white relative">
    <div class="flex max-w-6xl mx-auto">
        <div class="w-1/2 container text-gray-700 text-2xl relative pb-1 px-10 flex flex-col pr-12 relative">
            
            <h2 class="text-6xl text-purple-500 font-extrabold relative z-20 leading-none relative">Designed with<br> <span class="text-gray-800">you in mind</span></h2>
            <p class="relative z-20 block text-xl mt-6 text-gray-500">We've crafted the ultimate design tool that will help you build the design of your dreams. Built with configuration in mind, you can fully customize every aspect.</p>
            <div class="flex mt-4 relative">
                <a href="#_" class="flex items-center justify-center self-start px-5 py-3 border border-transparent text-base leading-tight font-medium rounded-full shadow text-white bg-purple-500 hover:bg-purple-600 focus:outline-none focus:border-purple-600 focus:shadow-outline-purple transition duration-150 ease-in-out md:py-4 md:text-xl md:px-10 mt-5">Get Started</a>
                <a href="#_" class="flex items-center justify-center self-start pl-16 pr-10 py-3 border-transparent text-gray-400 hover:text-purple-500 text-base leading-tight font-medium  shadow-sm rounded-full bg-gray-100 focus:outline-none transition duration-150 ease-in-out md:py-4 md:text-xl mt-5 ml-5 relative">
                    <svg class="w-10 h-10 absolute left-0 ml-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg>
                    <span class="text-purple-500">How It Works</span>
                </a>
            </div>
            
        </div>
        <div class="w-1/2 relative rounded-lg cursor-pointer group">
            <div class="w-11/12 absolute top-0 left-0 -mt-20 opacity-50">
                <svg class="w-full h-full text-purple-100 ml-4" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="M45,-78C58.3,-70.3,69,-58.2,75.2,-44.4C81.3,-30.7,82.9,-15.3,83.5,0.4C84.2,16,83.8,32.1,76.5,43.9C69.2,55.7,55.1,63.3,41.2,69.4C27.3,75.4,13.6,80,-0.7,81.2C-15.1,82.5,-30.1,80.3,-41.2,72.6C-52.2,64.9,-59.2,51.6,-67.1,38.5C-75.1,25.5,-83.9,12.8,-83.8,0C-83.8,-12.7,-74.9,-25.4,-65.8,-36.4C-56.7,-47.4,-47.4,-56.7,-36.4,-65.7C-25.4,-74.7,-12.7,-83.5,1.6,-86.2C15.9,-89,31.8,-85.7,45,-78Z" transform="translate(100 100)" />
                </svg>
            </div>
            <div class="group cursor-pointer overflow-hidden shadow-2xl relative rounded-md">
                <div class="absolute w-full h-full flex items-center justify-center">
                    <span class="w-20 h-20 bg-purple-500 rounded-full flex justify-center items-center shadow-2xl">
                        <svg class="w-auto h-8 ml-1 text-white fill-current" viewBox="0 0 52 66" xmlns="http://www.w3.org/2000/svg"><path d="M50 30.7L4.1.6C2.6-.4.8.9.8 2.9v60.3c0 2 1.8 3.3 3.3 2.3L50 35.3c1.5-1 1.5-3.6 0-4.6z" fill-rule="nonzero"/></svg>
                    </span>
                </div>
                <img src="https://images.unsplash.com/photo-1493857671505-72967e2e2760?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&h=1603&q=80" class="w-full h-full object-cover">
            </div>
        </div>
    </div>
</div>