<div>  
    <div class="float-left">
        <div class="mx-16 my-6">
            <div class="py-2 text-6xl font-bold text-purple-700">
                <h1>Shopping <br> 
                    Made Easier!
                </h1>
            </div>
            <div>
                <p class="text-xl">
                    We've designed the best shopping experience. <br>
                    Now just one click away!
                </p>
            </div>
            <div class="my-10">
                <a href=#>
                    <span class="p-2 mx-6 text-white bg-green-500 border-4 border-transparent rounded-full hover:bg-green-600">Start Shopping</span>
                </a>
                <a href=#>
                    <span class="p-2 mx-6 text-white bg-gray-400 border-4 border-transparent rounded-full hover:bg-gray-500">Learn More</span>
                </a>
            </div>
        </div>
        <div>
            
        </div>
    </div>
    <div class="float-right mt-32 mr-40">
        <img src="https://picsum.photos/200" alt="shopping">
    </div>
</div>