<div class="px-8 mx-auto flex items-center min-h-screen min-w-screen bg-white">
    <div class="w-1/2">
        <div class="flex flex-col overflow-hidden shadow-2xl rounded-lg">
            <div class="h-8 bg-gray-800 text-white flex items-center">
                <div class="w-3 h-3 rounded-full ml-3 bg-red-400"></div>
                <div class="w-3 h-3 rounded-full ml-2 bg-yellow-400"></div>
                <div class="w-3 h-3 rounded-full ml-2 bg-green-400"></div>
            </div>
            <img src="https://images.unsplash.com/photo-1504985954001-5737b2af529e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2879&q=80" class="w-full h-full object-cover">
        </div>
    </div>
    <div class="relative w-1/2 h-full pl-12">
        <button
            type="submit"
            class="inline-flex items-center justify-center h-12 px-10 mr-5 font-medium tracking-wide text-white transition duration-200 rounded-lg bg-purple-500 hover:bg-purple-700 focus:shadow-outline focus:outline-none"
            >
            Get started
        </button>
    </div>
</div>