
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<section class="relative py-16 min-h-screen bg-white min-w-screen animation-fade animation-delay bg-gray-200 rounded-lg">
    <div class="container px-10 mx-auto sm:px-5">
        <div class="w-full lg:flex">
            <div class="mt-10 lg:mt-0 w-full lg:flex-1 lg:w-1/2 ml-0 lg:ml-10 flex-1">
                <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_1H7IW0.json"  background="transparent" class="lg:mx-auto mt-10 lg:mt-20"  speed="1"  style="width: 550px; height: 550px;"  loop  autoplay></lottie-player>
            </div>
            <div class="w-full lg:w-1/2 p-10">
                <div class="text-center sm:text-left text-5xl mt-5 leading-snug">Understaning the<br/>customer journey.</div>
                <p class="text-center sm:text-left mt-10 text-sm mr-0 sm:mr-32">In order to succeed, one must have a unwavaring desire for succeed amidst fear of failure.</p>
                <div class="mx-auto sm:mx-0 w-3/4 mt-10 px-8 py-4 bg-green-500 text-white rounded text-center">Start your 14 day FREE Trial</div>
                <hr class="border-dotted border-2 my-10" />
                <p class="mt-10 text-md text-gray-600 text-center sm:text-left">“Our Conversion rates have gone up 12% since we start using this platform! I highly recommend using this tool.”</p>

                <div class="mt-10">
                    <div class="text-lg text-gray-900 flex-grow self-center text-center sm:text-left">Roville Sarate, CTO @ ThinkDevStudios</div>
                    <div class="flex-shrink mt-3 hidden sm:flex">
                        <svg class="text-yellow-500 fill-current w-8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" data-type="glyph" data-name="favourite-31">
                            <g class="nc-icon-wrapper" fill="currentColor">
                                <path fill="currentColor" d="M12.712,1.942l2.969,6.015l6.638,0.965c0.651,0.095,0.911,0.895,0.44,1.354l-4.804,4.682l1.134,6.612 c0.111,0.649-0.57,1.143-1.152,0.837L12,19.286l-5.938,3.122C5.48,22.714,4.799,22.219,4.91,21.57l1.134-6.612l-4.804-4.682 c-0.471-0.459-0.211-1.26,0.44-1.354l6.638-0.965l2.969-6.015C11.579,1.352,12.421,1.352,12.712,1.942z"></path>
                            </g>
                        </svg>
                        <svg class="text-yellow-500 fill-current w-8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" data-type="glyph" data-name="favourite-31">
                            <g class="nc-icon-wrapper" fill="currentColor">
                                <path fill="currentColor" d="M12.712,1.942l2.969,6.015l6.638,0.965c0.651,0.095,0.911,0.895,0.44,1.354l-4.804,4.682l1.134,6.612 c0.111,0.649-0.57,1.143-1.152,0.837L12,19.286l-5.938,3.122C5.48,22.714,4.799,22.219,4.91,21.57l1.134-6.612l-4.804-4.682 c-0.471-0.459-0.211-1.26,0.44-1.354l6.638-0.965l2.969-6.015C11.579,1.352,12.421,1.352,12.712,1.942z"></path>
                            </g>
                        </svg>
                        <svg class="text-yellow-500 fill-current w-8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" data-type="glyph" data-name="favourite-31">
                            <g class="nc-icon-wrapper" fill="currentColor">
                                <path fill="currentColor" d="M12.712,1.942l2.969,6.015l6.638,0.965c0.651,0.095,0.911,0.895,0.44,1.354l-4.804,4.682l1.134,6.612 c0.111,0.649-0.57,1.143-1.152,0.837L12,19.286l-5.938,3.122C5.48,22.714,4.799,22.219,4.91,21.57l1.134-6.612l-4.804-4.682 c-0.471-0.459-0.211-1.26,0.44-1.354l6.638-0.965l2.969-6.015C11.579,1.352,12.421,1.352,12.712,1.942z"></path>
                            </g>
                        </svg>
                        <svg class="text-yellow-500 fill-current w-8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" data-type="glyph" data-name="favourite-31">
                            <g class="nc-icon-wrapper" fill="currentColor">
                                <path fill="currentColor" d="M12.712,1.942l2.969,6.015l6.638,0.965c0.651,0.095,0.911,0.895,0.44,1.354l-4.804,4.682l1.134,6.612 c0.111,0.649-0.57,1.143-1.152,0.837L12,19.286l-5.938,3.122C5.48,22.714,4.799,22.219,4.91,21.57l1.134-6.612l-4.804-4.682 c-0.471-0.459-0.211-1.26,0.44-1.354l6.638-0.965l2.969-6.015C11.579,1.352,12.421,1.352,12.712,1.942z"></path>
                            </g>
                        </svg>
                        <svg class="text-yellow-500 fill-current w-8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" data-type="glyph" data-name="favourite-31">
                            <g class="nc-icon-wrapper" fill="currentColor">
                                <path fill="currentColor" d="M12.712,1.942l2.969,6.015l6.638,0.965c0.651,0.095,0.911,0.895,0.44,1.354l-4.804,4.682l1.134,6.612 c0.111,0.649-0.57,1.143-1.152,0.837L12,19.286l-5.938,3.122C5.48,22.714,4.799,22.219,4.91,21.57l1.134-6.612l-4.804-4.682 c-0.471-0.459-0.211-1.26,0.44-1.354l6.638-0.965l2.969-6.015C11.579,1.352,12.421,1.352,12.712,1.942z"></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>