<section class="flex min-h-screen">
    <div class="w-full lg:w-1/2 bg-green-300 min-h-full z-10">
        <section class="flex items-center h-full">
            <div class="text-right p-10">
                <h1 class="text-5xl font-bold leading-none -mr-24 mb-10 text-white">
                    We Deliver at your<br />
                    Doorstep.
                </h1>
                <p class="pl-32 mb-10">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Accusamus sit perspiciatis maiores dolorum consequatur
                    obcaecati.
                </p>
                <a href="#" class="border-b border-gray-900 pb-2">Learn more</a>
            </div>
        </section>
    </div>
    <div class="w-full lg:w-1/2">
        <div>
            <img class="max-w-full"
                src="https://images.unsplash.com/photo-1585047668151-b281b0c89c97?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2400&h=3277&fit=crop&ixid=eyJhcHBfaWQiOjF9"
                alt="" />
        </div>
    </div>
</section>