<style>
@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
</style>
<div class="min-w-screen min-h-screen bg-gray-900 flex items-center justify-center px-5 py-5">
    <div class="bg-gray-800 text-gray-500 text-sm rounded-lg shadow-lg overflow-hidden p-5">
        <div class="flex -mx-1">
            <div class="w-10 px-1 mb-4">
                <button class="block w-full h-8 hover:text-indigo-500 focus:outline-none text-center leading-none">
                    <i class="mdi mdi-camera text-lg"></i>
                </button>
            </div>
            <div class="flex-1 px-1 mb-4 relative">
                <input type="text" class="w-full h-8 px-3 bg-gray-800 border border-gray-700 focus:outline-none rounded-full" placeholder="Message...">
                <button class="absolute z-10 top-0 right-0 mt-1 mr-2 block w-6 h-6 rounded-full bg-indigo-500 hover:bg-indigo-600 text-white focus:outline-none text-center leading-none">
                    <i class="mdi mdi-navigation"></i>
                </button>
            </div>
        </div>
        <div class="flex -mx-1 justify-center">
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">Q</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">W</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">E</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">R</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">T</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">Y</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">U</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">I</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">O</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">P</button>
            </div>
        </div>
        <div class="flex -mx-1 justify-center">
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">A</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">S</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">D</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">F</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">G</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">H</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">J</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">K</button>
            </div>
            <div class="w-8 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">L</button>
            </div>
        </div>
        <div class="flex -mx-1">
            <div class="w-10 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-900 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">
                    <i class="mdi mdi-arrow-up-bold text-lg"></i>
                </button>
            </div>
            <div class="flex flex-1 justify-center">
                <div class="w-8 px-1 mb-2">
                    <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">Z</button>
                </div>
                <div class="w-8 px-1 mb-2">
                    <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">X</button>
                </div>
                <div class="w-8 px-1 mb-2">
                    <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">C</button>
                </div>
                <div class="w-8 px-1 mb-2">
                    <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">V</button>
                </div>
                <div class="w-8 px-1 mb-2">
                    <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">B</button>
                </div>
                <div class="w-8 px-1 mb-2">
                    <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">N</button>
                </div>
                <div class="w-8 px-1 mb-2">
                    <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">M</button>
                </div>
            </div>
            <div class="w-10 px-1 mb-2">
                <button class="block w-full h-10 rounded bg-gray-900 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">
                    <i class="mdi mdi-backspace-outline text-lg"></i>
                </button>
            </div>
        </div>
        <div class="flex -mx-1">
            <div class="w-10 px-1">
                <button class="block w-full h-10 rounded bg-gray-900 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">
                    <i class="mdi mdi-numeric text-lg"></i>
                </button>
            </div>
            <div class="w-10 px-1">
                <button class="block w-full h-10 rounded bg-gray-900 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none">
                    <i class="mdi mdi-emoticon-happy-outline text-lg"></i>
                </button>
            </div>
            <div class="flex-1 px-1">
                <button class="block w-full h-10 rounded bg-gray-700 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none text-xs">space</button>
            </div>
            <div class="w-20 px-1">
                <button class="block w-full h-10 rounded bg-gray-900 hover:bg-indigo-600 hover:text-white shadow focus:outline-none text-center leading-none text-xs">return</button>
            </div>
        </div>
    </div>
</div>