<div class="card text-center">
    <div class="card-header" style="color:red; font-family: 'Lato Heavy'">
        That baby seeking for you
    </div>
    <div class="card-body">
        <img class="card-img-top" alt ="doggy" src="https://images.unsplash.com/photo-1558692374-2fdedcee3463?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1782&q=80">
        <h5 class="card-title">They need your special protection...</h5>
        <p class="card-text">By joining us you can helps to these orphanage puppies to find a mom or dad to stay. </p>
        <a href="#" class="btn btn-warning">Like to join with you</a>
    </div>
    <div class="card-footer text-muted">
        found in 2 days ago
        <p>female puppy and seems it jerman shaphard</p>
    </div>
</div>