<div class="flex content-center items-center justify-center flex-col w-100%  bg-white h-auto">
  
  <div class="flex justify-center align-center bg-blue-200 h-16 w-screen text-white font-semibold text-lg">
     <a class="p-3 m-2">Home</a>
     <a class="p-3 m-2">About</a>
     <a class="p-3 m-2">Service</a>
     <a class="p-3 m-2">Contact</a>
 </div>
  
    <div>
        <img src="https://source.unsplash.com/400x400/?woman,face" alt="" class="rounded-full m-5 h-64 w-64" />
      </div>
   
     <div class=" h-auto w-4/5 m-5 content-center text-center ">
        <p class="text-5xl"> Hello! I am Shades</p>
        <p class="text-5xl text-blue-200 font-medium"> Digital product manager</p>
     </div>
     
    
 <div class="flex  align-center h-auto w-screen p-2 m-4">
     <div class="flex justify-center align-center  p-2 m-2 bg-blue-200 h-64 w-6/12">
         <img src="https://source.unsplash.com/400x400/?college" alt="" class=" m-5 h-64 w-6/12" />
     </div>
     <div class="flex justify-center align-center p-2 m-2 bg-white h-64 w-6/12">
         <p class="text-xl m-2">Hi, i am shades and i am a freelancer web designer from Delhi, India. I have 1 year of experience in leading team and
         deliver complex product design. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
     </div>
 </div>
 
 <div class="flex  align-center h-auto w-screen p-2 m-4">
      <div class="flex justify-center align-center p-2 m-2 bg-white h-64 w-6/12">
         <p class="text-xl m-2">Hi, i am shades and i am a freelancer web designer from Delhi, India. I have 1 year of experience in leading team and
         deliver complex product design. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
     </div>
     <div class="flex justify-center align-center  p-2 m-2 bg-blue-200 h-64 w-6/12">
         <img src="https://source.unsplash.com/400x400/?office,work" alt="" class=" m-5 h-64 w-6/12" />
     </div>
 </div>
 
  
</div>
