<div class="flex content-center items-center justify-center flex-col w-100  bg-white h-auto">

  <div class="flex justify-center align-center bg-gradient-to-r from-indigo-600 to-purple-500 mb-2 h-16 w-screen text-white font-semibold text-lg">
     <a class="p-3 m-2 cursor-pointer">Home</a>
     <a class="p-3 m-2 cursor-pointer">About</a>
     <a class="p-3 m-2 cursor-pointer">Service</a>
     <a class="p-3 m-2 cursor-pointer">Contact</a>
 </div>

    <div>
        <img src="https://source.unsplash.com/400x400/?woman,face" alt="" class="rounded-full m-5 h-64 w-64" />
      </div>

     <div class=" h-auto w-4/5 m-5 content-center text-center ">
        <p class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl"> Hello! I am <span class="text-indigo-600">Shades</span></p>
        <p class="text-5xl text-indigo-400 font-thin"> Digital product manager</p>
     </div>


 <div class="flex  align-center h-auto w-screen mt-5">
     <div class="flex justify-end align-center  p-4 bg-indigo-400 h-64 w-6/12">
         <img src="https://source.unsplash.com/400x400/?college" alt="" class="object-cover" />
     </div>
     <div class="flex justify-center items-center align-center p-2 pl-10 bg-white h-64 w-6/12 text-gray-600">
         <p class="text-lg m-2">Hi, i am shades and i am a freelancer web designer from Delhi, India. I have 1 year of experience in leading team and
         deliver complex product design. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
     </div>
 </div>


</div>
