<div class="text-center transform scale-75">
    <div class="xl:p-18 xl:m-auto">
        <div class="grid xl:grid-cols-3">
            <div class="border-2 mt-20 pb-20 bg-white xl:p-20 rounded-lg xl:ml-1 transform hover:scale-105 shadow-xl z-10 hover:shadow-2xl">
                <h3 class="font-bold mt-8 text-5xl">Free</h3>
                <h3 class="font-semibold text-4xl text-purple-400 mt-6 mb-6">$0 / Month</h3>
                <p class="text-2xl font-semibold m-auto mt-6 mb-6 pr-5 xl:pl-5 w-11/12">
                    <div class="mt-6">&nbsp;·&nbsp; Feature 1 &nbsp;·&nbsp;</div>
                    <div class="mt-6">&nbsp;·&nbsp; Free feature 2 &nbsp;·&nbsp;</div>
                    <div class="mt-6">&nbsp;·&nbsp; Ultimately free feature&nbsp;·&nbsp;</div>
                    <button class="mt-12 xl:mb-6 bg-purple-400 rounded w-5/6 h-12 text-white">Select <i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
            <div class="border-2 mt-20 pb-20 bg-white xl:p-20 rounded-lg xl:ml-1 transform scale-110 shadow-xl z-10 hover:shadow-2xl">
                <h3 class="font-bold text-3xl mt-8">Medium</h3>
                <h3 class="font-semibold text-4xl text-purple-400 mt-6 mb-6">$25 / Month</h3>
                <p class="text-2xl font-semibold m-auto mt-6 mb-6 pr-5 xl:pl-5 w-11/12">
                    <div class="mt-6">&nbsp;·&nbsp; Feature 1 &nbsp;·&nbsp;</div>
                    <div class="mt-6">&nbsp;·&nbsp; Paid feature 2 &nbsp;·&nbsp;</div>
                    <div class="mt-6">&nbsp;·&nbsp; Paid cool feature 3 &nbsp;·&nbsp;</div>
                    <div class="mt-6">&nbsp;·&nbsp; Ultimately free feature&nbsp;·&nbsp;</div>
                    <button class="mt-12 xl:mb-6 bg-purple-400 rounded w-5/6 h-12 text-white transform hover:scale-105">Select <i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
            <div class="border-2 bg-white pb-20 mt-20 xl:p-20 rounded-lg xl:ml-1 shadow-xl transform hover:scale-105 hover:shadow-2xl">
                <h3 class="font-bold text-3xl mt-8">Large</h3>
                <h3 class="font-semibold text-4xl text-purple-400 mt-6 mb-6">$50 / Month</h3>
                <p class="text-2xl font-semibold m-auto mt-6 mb-6 pr-5 xl:pl-5 w-11/12">
                    <div class="mt-6">&nbsp;·&nbsp; Feature 1 &nbsp;·&nbsp;</div>
                    <div class="mt-6">&nbsp;·&nbsp; Ultimate feature 2 &nbsp;·&nbsp;</div>
                    <div class="mt-6">&nbsp;·&nbsp; Super ultimate feature 3 &nbsp;·&nbsp;</div>
                    <div class="mt-6">&nbsp;·&nbsp; Ultimately the most cool feature&nbsp;·&nbsp;</div>
                    <button class="mt-12 xl:mb-6 bg-purple-400 rounded w-5/6 h-12 text-white transform hover:scale-105">Select <i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>