<!DOCTYPE html>
<html>
<head>
	<title>Purchase</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<style type="text/css">
		@media only screen and (min-width:321px) and (max-width:1000px) {
			 .btn {
			  width: 150px;
			  padding: auto;

			}
			.card{
				width: 50rem;
				margin-top: 5px;
			}
		}
		@media only screen and (min-width:1001px)  {
			 .btn {
			  width: 15rem;
			}
		}
		.fa-check{
			color: green;
		}
		.fa-times{
			color: red;
		}

	</style>

</head>
<body> 
	<div class="container">
		 <h1 class="text-center mt-5" style="font-size: 100px"> <strong> Pricing Details  </strong> </h1>
		 <h3 class="text-center mt-4">Purchase account plans to open additonal features </h3> 
		<div class="container">
			<div class="row d-flex justify-content-center mt-5 row-cols-1">
			
				
				<div class="col-md-4 col-sm-12 d-flex align-items-stretch">
					<div class="card border" >
							<h3 class="ml-4 mt-4"> Streaming </h3>
							<h5 class="ml-4"> all you need in one place </h5>
		 					<h5 class="ml-4"> <strong style="font-size: 40px">$5</strong>/mo</h5> 
					  	
					  	 <div class="card-body">
						    <button class="btn btn-dark py-2">BUY</button>
						 </div>

						  <h4 class="ml-4"> What's included </h4>
						  <ul class="list-group list-group-flush">
						    <li class="list-group-item"><i class="fas fa-check mr-2"></i>720p HD</li>
						    <li class="list-group-item"><i class="fas fa-times mr-2"></i> 1080p HD</li>
						    <li class="list-group-item"><i class="fas fa-times mr-2"></i> 4k</li>
						  </ul>
				  	</div>
				</div>


				<div class="col-md-4 col-sm-12 d-flex align-items-stretch">
					<div class="card border" >
							<h3 class="ml-4 mt-4"> Streaming </h3>
							<h5 class="ml-4"> all you need in one place </h5>
		 					<h5 class="ml-4"> <strong style="font-size: 40px">$10</strong>/mo</h5> 
					  	
					  	 <div class="card-body">
						    <button class="btn btn-dark py-2">BUY</button>
						 </div>

						  <h4 class="ml-4"> What's included </h4>
						  <ul class="list-group list-group-flush">
						    <li class="list-group-item"><i class="fas fa-check mr-2"></i>720p HD</li>
						    <li class="list-group-item"><i class="fas fa-check mr-2"></i> 1080p HD</li>
						    <li class="list-group-item"><i class="fas fa-times mr-2"></i> 4k</li>
						  </ul>
				  	</div>
				</div>


				<div class="col-md-4 col-sm-12 d-flex align-items-stretch">
					<div class="card border" >
							<h3 class="ml-4 mt-4"> Streaming </h3>
							<h5 class="ml-4"> all you need in one place </h5>
		 					<h5 class="ml-4"> <strong style="font-size: 40px">$15</strong>/mo</h5> 
					  	
					  	 <div class="card-body">
						    <button class="btn btn-dark py-2">BUY</button>
						 </div>

						  <h4 class="ml-4"> What's included </h4>
						  <ul class="list-group list-group-flush">
						    <li class="list-group-item"><i class="fas fa-check mr-2"></i>720p HD</li>
						    <li class="list-group-item"><i class="fas fa-check mr-2"></i> 1080p HD</li>
						    <li class="list-group-item"><i class="fas fa-check mr-2"></i> 4k</li>
						  </ul>
				  	</div>
				</div>
				
			</div>
		</div>
	</div>

</body>
</html>