<div class="px-12 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-16 bg-red-900">
  <div class="p-30 container w-3/4 mx-auto rounded shadow-2xl bg-gray-900">
    <div class="py-20 px-15 grid grid-flow-col rounded divide-x-2 divide-gray-700">
      <div class="px-20 flex flex-col">
        <h1 class="text-gray-600 text-4xl text-left">Basic</h1>
        <h6 class="text-gray-600 text-2xl">Free</h6>
        <p class="text-gray-700">3,000 monthly visitors</p>
        <br>
        <br>
        <li class="text-gray-600">Limited Reports</li>
        <li class="text-gray-600">Unlimited projects</li>
        <li class="text-gray-600">Data storage for 1 year</li>
        <br>
        <br>
        <button class="bg-transparent hover:bg-red-900 text-red-700 font-semibold focus:outline-none hover:text-gray-500 py-2 px-4 border border-red-900 hover:border-transparent rounded">
          Start Now
        </button>
      </div>
      <div class="px-20 flex flex-col">
        <h5 class="text-gray-600 text-4xl text-left">Pro</h5>
        <h5 class="text-gray-600 text-2xl">$19/month</h5>
        <p class="text-gray-700">10,000 monthly visitors</p>
        <br>
        <br>
        <li class="text-gray-600">Unimited Reports</li>
        <li class="text-gray-600">15-days Free Trial</li>
        <li class="text-gray-600">Data storage for 3 years</li>
        <br>
        <br>
        <button class="bg-transparent hover:bg-red-900 text-red-700 font-semibold focus:outline-none hover:text-gray-500 py-2 px-4 border border-red-900 hover:border-transparent rounded">
          Try it
        </button>
      </div>
    </div>
  </div>
</div>
