<div class="text-center transform scale-75">
    <label class="block pr-4 mb-1 text-5xl font-bold text-gray-500 md:mb-0">OUR PRICING</label>
  <div class="xl:p-18 xl:m-auto">
      <div class="grid xl:grid-cols-3">
          <div class="z-10 pb-20 mt-20 transform bg-white border-2 rounded-lg shadow-xl xl:p-20 xl:ml-1 hover:scale-105 hover:shadow-2xl hover:bg-red-300">
              <h3 class="mt-8 text-5xl font-bold">Free</h3>
              <h3 class="mt-6 mb-6 text-5xl font-extrabold text-red-800">$0 / Month</h3>
              <p class="w-11/12 pr-5 m-auto mt-6 mb-6 text-2xl font-semibold xl:pl-5">
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Feature 1 &nbsp;·&nbsp;</div>
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Free feature 2 &nbsp;·&nbsp;</div>
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Ultimately free feature&nbsp;·&nbsp;</div>
                  <button class="w-5/6 h-12 mt-12 font-mono text-lg text-2xl text-white transform bg-red-600 rounded xl:mb-6 hover:scale-105">Select <i class="fa fa-check" aria-hidden="true"></i></button>
          </div>
          <div class="z-10 pb-20 mt-20 transform scale-110 bg-white border-2 rounded-lg shadow-xl xl:p-20 xl:ml-1 hover:shadow-2xl hover:bg-red-300">
              <h3 class="mt-8 text-5xl font-bold">Medium</h3>
              <h3 class="mt-6 mb-6 text-5xl font-extrabold text-red-800">$25 / Month</h3>
              <p class="w-11/12 pr-5 m-auto mt-6 mb-6 text-2xl font-semibold xl:pl-5">
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Feature 1 &nbsp;·&nbsp;</div>
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Paid feature 2 &nbsp;·&nbsp;</div>
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Paid cool feature 3 &nbsp;·&nbsp;</div>
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Ultimately free feature&nbsp;·&nbsp;</div>
                  <button class="w-5/6 h-12 mt-12 font-mono text-lg text-2xl text-white transform bg-red-600 rounded xl:mb-6 hover:scale-105">Select <i class="fa fa-check" aria-hidden="true"></i></button>
          </div>
          <div class="pb-20 mt-20 transform bg-white border-2 rounded-lg shadow-xl xl:p-20 xl:ml-1 hover:scale-105 hover:shadow-2xl hover:bg-red-300">
              <h3 class="mt-8 text-5xl font-bold">Large</h3>
              <h3 class="mt-6 mb-6 text-5xl font-extrabold text-red-800">$50 / Month</h3>
              <p class="w-11/12 pr-5 m-auto mt-6 mb-6 text-2xl font-semibold xl:pl-5">
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Feature 1 &nbsp;·&nbsp;</div>
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Ultimate feature 2 &nbsp;·&nbsp;</div>
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Super ultimate feature 3 &nbsp;·&nbsp;</div>
                  <div class="mt-6 font-mono text-lg text-2xl">&nbsp;·&nbsp; Ultimately the most cool feature&nbsp;·&nbsp;</div>
                  <button class="w-5/6 h-12 mt-12 font-mono text-lg text-white transform bg-red-600 rounded xl:mb-6 hover:scale-105">Select <i class="fa fa-check" aria-hidden="true"></i></button>
          </div>
      </div>
  </div>
</div> 
