<div class="flex-column items-center p-5 bg-white rounded-lg shadow-xl mx-auto m-10 w-4/12">
    <div class="grid justify-items-center">
        <h1 class="text-5xl text-blue-600">Product</h1>
        <img src="https://purepng.com/public/uploads/thumbnail/purepng.com-black-t-shirtclothingblack-t-shirtfashion-dress-shirt-black-cloth-tshirt-631522326884f7v4f.png">
    </div>
    <div class="grid justify-items-center bg-blue-600 rounded-lg p-2 mx-auto">
        <h3 class="text-3xl text-white bg-green-600 p-2 rounded-md">$19.99</h3>
        <p class="text-md text-gray-200 p-2">Product description here.</p>
    </div>
</div>