<div class="flex items-center p-8 bg-white rounded-lg shadow-xl mx-auto max-w-sm relative m-12" style="width: 18rem;">
    <div>
      <h1 class="text-lg"><b>Product Name</b></h1>
      <img alt="bread" src="https://images.unsplash.com/photo-1592029780368-c1fff15bcfd5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2hpdGUlMjBicmVhZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80">
      <p>This is a test description of the product.</p>
      <button  class="inline px-4 py-2 text-sm font-medium leading-5 text-white bg-green-600 border border-transparent rounded-md focus:shadow-outline-green 
      active:bg-green-600 hover:bg-green-700">Add to cart</button>
    </div>
  </div>