<div class="progress-bar progress-bar--material">
    <div class="progress-bar__primary progress-bar--material__primary" style="width: 30%"></div>
</div>
<br />
<div class="progress-bar progress-bar--material">
    <div class="progress-bar__primary progress-bar--material__primary" style="width:20%"></div>
    <div class="progress-bar__secondary progress-bar--material__secondary" style="width:76%"></div>
</div>
<br />
<div class="progress-bar progress-bar--material progress-bar--indeterminate">
</div>