  <section class="bg-teal-50" id="projects">
         <div
            class="px-3 pt-12 pb-0 mx-auto sm:px-6 sm:pt-10 md:max-w-4xl md:pt-10 lg:max-w-6xl overflow-hidden"
            >
            <div
               class="flex flex-wrap -mx-3 md:px-3 xl:px-0 md:-mx-0 lg:-mx-3 md:mb-5"
               >
               <!-- Project 1 -->
               <div
                  class="w-full px-6 mb-12 md:w-1/3 sm:w-1/2 md:px-3 lg:px-6 sm:mb-16 md:mb-24"
                  >
                  <div class="text-gray-800 dark:text-white">
                     <div>
                        <h4 class="mb-2 text-2xl font-bold md:text-2_5xl font-header">
                           <a href="https://yoursite.com/">
                           <img
                              src="https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80"
                              class="transition duration-500 ease-in-out transform rounded shadow-xl hover:shadow-xl hover:scale-105 hover:-translate-y-1 mb-5 sm:h-64"
                              alt="Project 1 Img"
                              />
                           </a>
                           <a href="https://yoursite.com/">
                           <span class="text-teal-500 text-2xl">Project 1</span>
                           <i
                              class="fas fa-external-link-alt inline mb-1 ml-4 hover:text-teal-400"
                              ></i>
                           </a>
                           <span
                              class="inline mb-0 ml-1 mr-1 text-xl text-gray-600 font-body"
                              >•</span
                              >
                           <a
                              href="https://github.com/yourproject"
                              class="inline light dark"
                              >
                           <span class="sr-only">Github: Project 1</span>
                           <i
                              class="fab fa-github inline mb-0 hover:text-teal-400"
                              ></i>
                           </a>
                        </h4>
                        <p class="block mb-6 text-gray-600 text-base">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quos dolores et quas molestias excepturi sint occaecati. Esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                        </p>
                        <div class="flex flex-wrap">
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 1
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 2
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 3
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 4
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 5
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Project 2 -->
               <div
                  class="w-full px-6 mb-12 md:w-1/3 sm:w-1/2 md:px-3 lg:px-6 sm:mb-16 md:mb-24"
                  >
                  <div class="text-gray-800 dark:text-white">
                     <div>
                        <h4 class="mb-2 text-2xl font-bold md:text-2_5xl font-header">
                           <a href="https://yoursite.com/">
                           <img
                              src="https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80"
                              class="transition duration-500 ease-in-out transform rounded shadow-xl hover:shadow-xl hover:scale-105 hover:-translate-y-1 mb-5 sm:h-64"
                              alt="Project 2 Img"
                              />
                           </a>
                           <a href="https://yoursite.com/">
                           <span class="text-teal-500 text-2xl">Project 2</span>
                           <i
                              class="fas fa-external-link-alt inline mb-1 ml-4 hover:text-teal-400"
                              ></i>
                           </a>
                           <span
                              class="inline mb-0 ml-1 mr-1 text-xl text-gray-600 font-body"
                              >•</span
                              >
                           <a
                              href="https://github.com/yourproject"
                              class="inline light dark"
                              >
                           <span class="sr-only">Github: Project 2</span>
                           <i
                              class="fab fa-github inline mb-0 hover:text-teal-400"
                              ></i>
                           </a>
                        </h4>
                        <p class="block mb-6 text-gray-600 text-base">
                           Totam rem aperiam. Laboris nisi ut aliquip ex ea commodo consequat. Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                        </p>
                        <div class="flex flex-wrap">
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 1
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 2
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 3
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 4
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 5
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Project 3 -->
               <div
                  class="w-full px-6 mb-12 md:w-1/3 sm:w-1/2 md:px-3 lg:px-6 sm:mb-16 md:mb-24"
                  >
                  <div class="text-gray-800 dark:text-white">
                     <div>
                        <h4 class="mb-2 text-2xl font-bold md:text-2_5xl font-header">
                           <a href="https://yoursite.com/">
                           <img
                              src="https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80"
                              class="transition duration-500 ease-in-out transform rounded shadow-xl hover:shadow-xl hover:scale-105 hover:-translate-y-1 mb-5 sm:h-64"
                              alt="Project 3 Img"
                              />
                           </a>
                           <a href="https://yoursite.com/" class="inline">
                           <span class="text-teal-500 text-2xl">Project 3</span>
                           <i
                              class="fas fa-external-link-alt inline mb-1 ml-4 hover:text-teal-400"
                              ></i>
                           </a>
                           <span
                              class="inline mb-0 ml-1 mr-1 text-xl text-gray-600 font-body"
                              >•</span
                              >
                           <a
                              href="https://github.com/yourproject"
                              class="inline light dark"
                              >
                           <span class="sr-only">Github: Project 3</span>
                           <i
                              class="fab fa-github inline mb-0 hover:text-teal-400"
                              ></i>
                           </a>
                        </h4>
                        <p class="block mb-6 text-gray-600 text-base">
                           Totam rem aperiam. Laboris nisi ut aliquip ex ea commodo consequat. Quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                        </p>
                        <div class="flex flex-wrap">
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 1
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 2
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 3
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 4
                           </span>
                           <span class="mx-1"></span>
                           <span
                              class="px-2 py-1 mb-2 text-gray-700 text-lg bg-gray-200 dark:bg-gray-800 rounded dark:text-gray-400"
                              >
                           Tool 5
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </section>
    <!-- For icons -->
   <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-replace-svg="nest"></script>
