<div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-16 bg-gradient-to-r from-orange-400 via-red-500 to-pink-500">
    <div class="flex flex-col max-w-screen-lg overflow-hidden bg-white border-8 rounded-lg shadow-xl lg:flex-row sm:mx-auto">
      <div class="relative lg:w-1/2">
        <img src="https://images.unsplash.com/photo-1543071509-119bdc0983c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="" class="object-cover w-full rounded-l-lg lg:absolute h-80 lg:h-full" />
        <svg class="absolute top-0 right-0 hidden h-full text-white lg:inline-block" viewBox="0 0 20 104" fill="currentColor">
        </svg>
      </div>
      <div class="flex flex-col justify-center p-8 bg-white bg-gray-900 rounded-r-lg lg:p-16 lg:pl-10 lg:w-1/2">
          <h5 class="mb-3 text-3xl font-extrabold leading-none text-center text-gray-300 sm:text-4xl">
          Get Started Now
        </h5>
        <p class="py-5 mb-5 text-center text-gray-300">
          <span class="font-bold">It's free to join and gain full access to thousands of opportunities.</span>
        </p>
        <input class="h-10 px-6 my-3 text-gray-300 bg-transparent border rounded focus:outline-none" placeholder="Name">
        <input class="h-10 px-6 my-3 text-gray-300 bg-transparent border rounded focus:outline-none" type="email" placeholder="Email ID">
        <input class="h-10 px-6 my-3 text-gray-300 bg-transparent border rounded focus:outline-none" type="password" placeholder="Passworrd">
        <input class="h-10 px-6 my-3 text-gray-300 bg-transparent border rounded focus:outline-none" type="number" placeholder="Mobile No.">
        <label class="inline-flex items-center mt-3">
            <input type="checkbox" class="w-5 h-5 text-pink-600 form-checkbox"><span class="ml-2 text-gray-600">
            I agree to the website's 
            <a class="text-orange-300" href="#">Privacy Policy & Terms and Conditions</a></span>
        </label>
        <button class="px-4 py-2 my-3 font-bold text-white rounded bg-gradient-to-r to-pink-500">
          Sign Up
        </button>
      </div>
    </div>
</div>
 