<div class="container w-full h-full bg-gray-200">
    <h1 class="text-center font-semibold font-sans md:text-3xl sm:text-2xl">Responsive Image Gallery</h1>
    <div class=" grid md:grid-cols-2 lg:grid-cols-4 justify-center grid-flow-row ">
      <div class="text-left font-sans font-medium p-2">
        <img src="https://picsum.photos/400" alt="img"> 
      </div>
      <div class="text-left font-sans font-medium p-2">
        <img src="https://picsum.photos/400" alt="img"> 
      </div>
      <div class="text-left font-sans font-medium p-2">
        <img src="https://picsum.photos/400" alt="img"> 
      </div>
      <div class="text-left font-sans font-medium p-2">
        <img src="https://picsum.photos/400" alt="img"> 
      </div>
      <div class="text-left font-sans font-medium p-2">
        <img src="https://picsum.photos/400" alt="img"> 
      </div>
      <div class="text-left font-sans font-medium p-2">
        <img src="https://picsum.photos/400" alt="img"> 
      </div>
      <div class="text-left font-sans font-medium p-2">
        <img src="https://picsum.photos/400" alt="img"> 
      </div>
      <div class="text-left font-sans font-medium p-2">
        <img src="https://picsum.photos/400" alt="img"> 
      </div>
    </div>
  </div>