<div class="flex justify-center items-center min-h-screen">
    <div class="relative h-10 w-10 m-3">
        <div class="absolute top-0 left-0 h-10 w-10 rounded-full bg-pink-200 z-0 animate-ping"></div>
        <div class="absolute top-0 left-0 h-8 w-8 m-1 rounded-full bg-pink-400 z-10 animate-ping"></div>
        <div class="absolute top-0 left-0 m-3 rounded-full h-4 w-4 border-white bg-pink-400 border-solid border-2 z-20 animate-ping"></div>
        <div class="absolute top-0 left-0 m-3 rounded-full h-4 w-4 bg-pink-600 z-30"></div>
    </div>  
</div>