    <div class="flex p-1 bg-white items-center rounded-lg mx-auto max-w-full relative m-10">
        <div class="bg-gray-500 w-3/5 h-full p-1 shadow-xl rounded-lg mx-start">
        </div>
    </div>

    <div class="flex p-1 bg-gray-700 items-center rounded-lg mx-auto max-w-full relative m-10">
        <div class="bg-white w-full rounded-lg">
            <div class="bg-gray-500 w-5/12 h-full p-1 shadow-xl rounded-lg mx-start">
            </div>
        </div>
    </div>

    <div class="flex p-1 bg-blue-700 items-center rounded-lg mx-auto max-w-full relative m-10">
        <div class="bg-white w-full rounded-lg">
            <div class="bg-blue-500 w-6/12 h-full p-1 shadow-xl rounded-lg mx-start">
            </div>
        </div>
    </div>

    <div class="flex p-1 bg-red-700 items-center rounded-lg mx-auto max-w-full relative m-10">
        <div class="bg-white w-full rounded-lg">
            <div class="bg-red-500 w-7/12 h-full p-1 shadow-xl rounded-lg mx-start">
            </div>
        </div>
    </div>

    <div class="flex p-1 bg-yellow-700 items-center rounded-lg mx-auto max-w-full relative m-10">
        <div class="bg-white w-full rounded-lg">
            <div class="bg-yellow-500 w-8/12 h-full p-1 shadow-xl rounded-lg mx-start">
            </div>
        </div>
    </div>

    <div class="flex p-1 bg-purple-700 items-center rounded-lg mx-auto max-w-full relative m-10">
        <div class="bg-white w-full rounded-lg">
            <div class="bg-purple-500 w-9/12 h-full p-1 shadow-xl rounded-lg mx-start">
            </div>
        </div>
    </div>

    <div class="flex p-1 bg-green-700 items-center rounded-lg mx-auto max-w-full relative m-10">
        <div class="bg-white w-full rounded-lg">
            <div class="bg-green-500 w-10/12 h-full p-1 shadow-xl rounded-lg mx-start">
            </div>
        </div>
    </div>

    <div class="flex p-1 bg-orange-700 items-center rounded-lg mx-auto max-w-full relative m-10">
        <div class="bg-white w-full rounded-lg">
            <div class="bg-orange-500 w-11/12 h-full p-1 shadow-xl rounded-lg mx-start">
            </div>
        </div>
    </div>