<div class="bg-blue-100 min-h-screen flex justify-center items-center">
    <div class="p-8 lg:p-10 bg-white rounded-lg shadow-lg flex flex-col justify-center">
      <h1 class="text-2xl font-semibold flex flex-col font-serif mb-3">
        <span>Free and Pro website</span>
        <span>templates for your business</span>
      </h1>
      <h4 class="flex flex-col font-medium mb-6">
        <span>Choose from over 300 fully responsible portfolio, blog</span>
        <span>and ecommerce templates.</span>
      </h4>
      <form action="#" class="flex flex-col lg:flex-row items-center justify-center mb-8" role="search" aria-label="Sitewide">
        <input type="text" id="search" placeholder="Search all templates" spellcheck="false" class="bg-gray-50 px-6 py-3 w-full mb-2 lg:mb-0 lg:mr-2 lg:w-3/4 border border-gray-300 rounded-lg focus:outline-none text-gray-700" />
        <button class="lg:w-1/4 flex items-center justify-center space-x-2 lg:space-x-1 bg-gray-900 px-6 py-3 text-gray-50 rounded-lg w-full" aria-label="Submit">
          <span
            ><svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg
          ></span>
          <span>Search</span>
        </button>
      </form>
      <div>
        <h6 class="font-semibold text-sm mb-4">Common searches</h6>
        <div class="flex flex-wrap">
          <a href="#" class="bg-blue-100 text-blue-400 py-2 px-4 rounded-md m-1">Business</a>
          <a href="#" class="bg-yellow-100 text-yellow-400 py-2 px-4 rounded-md m-1">Portfolio</a>
          <a href="#" class="bg-purple-100 text-purple-400 py-2 px-4 rounded-md m-1">Ecommerce</a>
          <a href="#" class="bg-green-100 text-green-400 py-2 px-4 rounded-md m-1">Blog</a>
        </div>
      </div>
    </div>
  </div>
  