<div class="antialiased bg-white w-3/4 lg:w-1/2 mx-auto mt-10 shadow-lg rounded-xl p-8 lg:p-10 lg:pb-16">
    <div class="mb-12">
      <h1 class="flex flex-col text-center">
        <span class="text-lg text-gray-800 font-semibold mb-2.5">Select your profile</span>
        <span class="text-xs text-gray-700 font-semibold">Logged in users can view full business profiles and can</span>
        <span class="text-xs text-gray-700 font-semibold">save contact details.</span>
      </h1>
    </div>
    <div class="w-full md:w-full lg:w-full mx-auto flex flex-col lg:flex-row md:flex-row lg:flex-wrap justify-center items-center space-y-4 md:space-y-0 lg:space-y-0 lg:space-x-4 md:space-x-4">
      <div class="flex justify-center items-center w-40 h-40 bg-blue-50 rounded-lg">
        <div class="flex flex-col justify-center items-center w-4/5 h-4/5 bg-white rounded-lg shadow-md">
          <picture class="w-2/5 h-auto mb-1.5">
            <img src="https://randomuser.me/api/portraits/men/81.jpg" alt="" class="rounded-full" />
          </picture>
          <h3 class="text-xs text-gray-800 font-medium tracking-tight mb-1.5">Marshall Davis</h3>
          <div class="">
            <button class="relative text-gray-700 bg-blue-50 hover:bg-blue-50 p-0.5 rounded-lg">
              <ul class="absolute top-7 -left-10 rounded-md bg-white shadow-lg p-1.5">
                <li class="">
                  <a href="#" class="flex items-center text-gray-600 hover:bg-blue-50 px-3 py-1 rounded-md"
                    ><span class="mr-2 items-baseline"
                      ><svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg></span
                    ><span class="text-sm font-semibold">Edit</span></a
                  >
                </li>
                <li class="">
                  <a href="#" class="flex items-center text-gray-600 hover:bg-blue-50 px-3 py-1 rounded-md"
                    ><span class="mr-2 items-baseline"
                      ><svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg></span
                    ><span class="text-sm font-semibold">Delete</span></a
                  >
                </li>
              </ul>
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
            </button>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center w-40 h-40 bg-blue-50 rounded-lg">
        <div class="flex flex-col justify-center items-center w-4/5 h-4/5 bg-white rounded-lg shadow-md">
          <picture class="w-2/5 h-auto mb-1.5">
            <img src="https://randomuser.me/api/portraits/women/24.jpg" alt="" class="rounded-full" />
          </picture>
          <h3 class="text-xs text-gray-800 font-medium tracking-tight mb-1.5">Mary kyles</h3>
          <a href="#" class="text-gray-700 hover:bg-blue-50 p-0.5 rounded-lg">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
          </a>
        </div>
      </div>
      <div class="flex justify-center items-center w-28 h-28">
        <a href="#" class="border-2 border-blue-50 p-1 text-blue-200 rounded-full"
          ><svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg
        ></a>
      </div>
    </div>
</div>