<div class="flex items-center justify-center h-screen overflow-hidden bg-gray-200" >
   <div  class="max-w-xl px-4 py-4 mx-auto">
     <div class="flex flex-col text-center w-full mb-10">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black">Lorem ipsum dolor sit amet.</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate molestiae suscipit blanditiis aperiam, nobis sit.</p>
    </div>
    <div class="sm:grid sm:h-32 sm:grid-flow-row sm:gap-4 sm:grid-cols-4">
         <div  class="flex flex-col justify-center px-4 py-4 bg-white border border-gray-300 rounded-lg shadow-lg bg-5white md:shadow-2xl">
            <div>
               <p class="text-3xl font-semibold text-center text-gray-800">10000</p>
               <p class="text-sm leading-tight text-center text-gray-500">SUBSCRIBERS</p>
            </div>
         </div>
         <div  class="flex flex-col justify-center px-4 py-4 mt-4 bg-white border border-gray-300 rounded-lg shadow-lg md:shadow-2xl sm:mt-0">
            <div>
               <p class="text-3xl font-semibold text-center text-gray-800">8000</p>
               <p class="text-sm leading-tight text-center text-gray-500">FOLLOWERS</p>
            </div>
         </div>
         <div  class="flex flex-col justify-center px-4 py-4 mt-4 bg-white border border-gray-300 rounded-lg shadow-lg md:shadow-2xl sm:mt-0">
            <div>
               <p class="text-3xl font-semibold text-center text-gray-800">4000</p>
               <p class="text-sm leading-tight text-center text-gray-500">LIKES</p>
            </div>
         </div>
         <div  class="flex flex-col justify-center px-4 py-4 mt-4 bg-white border border-gray-300 rounded-lg shadow-lg md:shadow-2xl sm:mt-0">
            <div>
               <p class="text-3xl font-semibold text-center text-gray-800">2000</p>
               <p class="text-sm leading-tight text-center text-gray-500">DISLIKES</p>
            </div>
         </div>
      </div>
   </div>
</div>