<div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Application Form
        </h3>
        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
            Personal details and resume.
        </p>
    </div>
    <div>
        <dl>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Full name
                </dt>
                <div class="pb-3">
                    <input class="w-full px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline"
                        type="text" placeholder="Name" name="name" value="" />
                </div>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Application for
                </dt>
                <div class="pb-3">
                    <input class="w-full px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline"
                        type="text" placeholder="Job Title" name="job description" value="" />
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Email address
                </dt>
                <div class="pb-3">
                    <input class="w-full px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline"
                        type="text" placeholder="Email" name="email" value="" />
                </div>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Phone Number
                </dt>
                <div class="pb-3">
                    <input class="w-full px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline"
                        type="text" placeholder="Number" name="phonenumber" value="" />
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm leading-5 font-medium text-gray-500">
                    Current Address
                </dt>
                <div class="pb-3">
                    <textarea row="2"
                        class="w-full h-40 px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline"
                        type="text" name="address" placeholder="Address"></textarea>
                </div>
            </div>
        </dl>
    </div>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm leading-5 font-medium text-gray-500">
            Salary expectation (in $)
        </dt>
        <div class="pb-3">
            <input class="w-full px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline"
                type="number" placeholder="Expected salary" name="salary" value="" />
        </div>
    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm leading-5 font-medium text-gray-500">
            About
        </dt>
        <div class="pb-3">
            <textarea row="4"
                class="w-full h-40 px-5 py-3 border border-gray-400 rounded-lg outline-none focus:shadow-outline"
                type="text" name="message" placeholder="Your message here..."></textarea>
        </div>
    </div>
</div>