<button type="button" class="bg-indigo-200 flex p-3 m-auto mt-4 rounded-md" disabled>
    <svg class="animate-spin h-5 w-5 mr-1 mt-1"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
    </svg>
  Please Wait
</button>

<div class="md:grid md:grid-cols-3 md:gap-3 md:gap-y-0">
    <div class="border border-gray-300 shadow rounded-md p-4 max-h-md max-w-xl  m-10 col-span-1">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4 py-1">
                <div class="h-40 bg-gray-400 rounded w-full"></div>
                <div class="space-y-2">
                    <div class="h-4 bg-gray-400 rounded"></div>
                    <div class="h-4 bg-gray-400 rounded w-5/6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-300 shadow rounded-md p-4 max-h-md max-w-xl  m-10 col-span-1">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4 py-1">
                <div class="h-40 bg-gray-400 rounded w-full"></div>
                <div class="space-y-2">
                    <div class="h-4 bg-gray-400 rounded"></div>
                    <div class="h-4 bg-gray-400 rounded w-5/6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-300 shadow rounded-md p-4 max-h-md max-w-xl  m-10 col-span-1">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4 py-1">
                <div class="h-40 bg-gray-400 rounded w-full"></div>
                <div class="space-y-2">
                    <div class="h-4 bg-gray-400 rounded"></div>
                    <div class="h-4 bg-gray-400 rounded w-5/6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-300 shadow rounded-md p-4 max-h-md max-w-xl  m-10 col-span-1">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4 py-1">
                <div class="h-40 bg-gray-400 rounded w-full"></div>
                <div class="space-y-2">
                    <div class="h-4 bg-gray-400 rounded"></div>
                    <div class="h-4 bg-gray-400 rounded w-5/6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-300 shadow rounded-md p-4 max-h-md max-w-xl  m-10 col-span-1">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4 py-1">
                <div class="h-40 bg-gray-400 rounded w-full"></div>
                <div class="space-y-2">
                    <div class="h-4 bg-gray-400 rounded"></div>
                    <div class="h-4 bg-gray-400 rounded w-5/6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-300 shadow rounded-md p-4 max-h-md max-w-xl  m-10 col-span-1">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4 py-1">
                <div class="h-40 bg-gray-400 rounded w-full"></div>
                <div class="space-y-2">
                    <div class="h-4 bg-gray-400 rounded"></div>
                    <div class="h-4 bg-gray-400 rounded w-5/6"></div>
                </div>
            </div>
        </div>
    </div>
</div>