<section class="bg-blue-600 py-12 px-6">
    <div class="max-w-2xl mx-auto relative">
        <div class="relative p-1 z-1">
            <article class="bg-white rounded shadow-lg p-12 z-3 relative">
                <h1 class="font-bold text-3xl mb-2 text-gray-900 leading-tight">
                    Headline
                </h1>
                <p class="leading-relaxed text-gray-600">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </article>
        </div>
        <div class="absolute rounded bg-white shadow mx-auto w-full h-full top-0 left-0 transform rotate-1"></div>
        <div class="absolute rounded bg-white shadow-md mx-auto w-full h-full top-0 left-0 transform -rotate-1"></div>
    </div>
</section>