<div class="bg-pink-500 py-16">
    <div class="flex justify-center relative p-4 max-w-xl bg-white m-auto shadow-2xl">
        <span class="absolute top-0 right-0 bg-white cursor-pointer text-center text-gray-600 shadow-md text-xs -mr-4 -mt-2 transform rotate-45 rounded w-10 h-5 block hover:bg-gray-100">close</span>
        <div class="w-1/2 bg-cover" style="background-image: url(https://images.unsplash.com/photo-1601805215126-9df64231459b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=mojtaba-mosayebzadeh-mR_fsL-KbEg-unsplash.jpg&w=640)">
        </div>
        <div class="py-4 px-4 w-1/2">
            <h1 class="mt-6 font-bold text-xl mb-2">Ideas and UI components in your inbox</h1>
            <p class="mb-5">Sign up to receive ideas, free components and free resources plus 15% on all of our pro UI kits.</p>
            <form>
                <input class="rounded w-full py-3 px-5 border focus:border-blue-500 focus:outline-none" type="email" placeholder="Email address">
                <button class="block bg-blue-500 w-full mt-3 rounded py-3 text-white shadow-lg hover:bg-blue-600" type="submit">Subscribe</button>
                <p class="text-center text-gray-700 text-xs my-4">No spams included</p>
            </form>
        </div>
    </div>
</div>
