<label class="switch switch--material">
  <input type="checkbox" class="switch__input switch--material__input">
  <div class="switch__toggle switch--material__toggle">
    <div class="switch__handle switch--material__handle">
    </div>
  </div>
</label>
<label class="switch switch--material">
  <input type="checkbox" class="switch__input switch--material__input" checked>
  <div class="switch__toggle switch--material__toggle">
    <div class="switch__handle switch--material__handle">
    </div>
  </div>
</label>
<label class="switch switch--material">
  <input type="checkbox" class="switch__input switch--material__input" disabled>
  <div class="switch__toggle switch--material__toggle">
    <div class="switch__handle switch--material__handle">
    </div>
  </div>
</label>