<div class="flex items-center justify-center min-h-screen p-5 bg-gray-100 min-w-screen">

  <div class="flex flex-wrap items-start content-around justify-start text-xs font-semibold">
    <span class="px-2 mb-2 mr-2 text-orange-900 bg-orange-300 border border-orange-500 rounded-lg">component</span>
    <span class="px-2 mb-2 mr-2 text-red-900 bg-red-300 border border-red-500 rounded-lg">bug</span>
    <span class="px-2 mb-2 mr-2 text-purple-900 bg-purple-300 border border-purple-500 rounded-lg">hacktoberfest</span>
    <span class="px-2 mb-2 mr-2 text-blue-900 bg-blue-300 border border-blue-500 rounded-lg">enhancement</span>
    <span class="px-2 mb-2 mr-2 text-teal-900 bg-teal-300 border border-teal-500 rounded-lg">template</span>
    <span class="px-2 mb-2 mr-2 text-yellow-900 bg-yellow-300 border border-yellow-500 rounded-lg">invalid</span>
    <span class="px-2 mb-2 mr-2 text-gray-900 bg-gray-300 border border-gray-500 rounded-lg">wontfix</span>
  </div>

</div>
