<div class="box-border bg-gray-200 pb-10 h-full pt-16">
    <div class="container relative max-w-2xl px-5 pt-12 mx-auto sm:py-12 lg:px-0">
        <h2
            class="mb-10 text-4xl font-extrabold leading-10 tracking-tight text-left text-gray-900 sm:text-5xl sm:leading-none md:text-6xl sm:text-center">
            Our <span class="inline-block text-indigo-500">Team</span></h2>
        <p class="mt-5 text-xl text-left opacity-75 sm:text-center">We've got some pretty awesome people that work for
            us. We'd like you to get to know each of them personally!</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto gap-10">

        <div class="bg-white text-gray-800 shadow-lg rounded-xl m-8 sm:m-4">
            <div class="relative">
                <img class="mx-auto w-full shadow-xl" src="http://www.fillmurray.com/200/200" />
            </div>
            <div class="flex items-center px-6 py-5">
                <h2 class="mx-auto text-center">
                    <span class="text-2xl block text-gray-900 font-sans font-semibold ">Rosemary G. Murphy</span>
                    <span class="block text-gray-800 font-light">President<span>
                </h2>
            </div>
            <div class="px-6 py-4 font-light text-gray-600 text-base block mr-2 pb-8">
                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>

        <div class="bg-white text-gray-800 shadow-lg rounded-xl m-8 sm:m-4">
            <div class="relative">
                <img class="w-full mx-auto w-64 shadow-xl" src="http://www.fillmurray.com/220/220" />
            </div>
            <div class="flex items-center px-6 py-5">
                <h2 class="mx-auto text-center">
                    <span class="text-2xl block text-gray-900 font-sans font-semibold ">Larry D. Peterson</span>
                    <span class="block text-gray-800 font-light">CTO<span>
                </h2>
            </div>
            <div class="px-6 py-4 font-light text-gray-600 text-base block mr-2 pb-8">
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
        <div class="bg-white text-gray-800 shadow-lg rounded-xl m-8 sm:m-4">
            <div class="relative">
                <img class="w-full mx-auto w-64 shadow-xl" src="http://www.fillmurray.com/230/230" />
            </div>
            <div class="flex items-center px-6 py-5">
                <h2 class="mx-auto text-center">
                    <span class="text-2xl block text-gray-900 font-sans font-semibold ">Alvaro C. Cassidy</span>
                    <span class="block text-gray-800 font-light">VP, Products<span>
                </h2>
            </div>
            <div class="px-6 py-4 font-light text-gray-600 text-base block mr-2 pb-8">
                Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
        <div class="bg-white text-gray-800 shadow-lg rounded-xl m-8 sm:m-4">
            <div class="relative">
                <img class="w-full mx-auto w-64 shadow-xl" src="http://www.fillmurray.com/240/240" />
            </div>
            <div class="flex items-center px-6 py-5">
                <h2 class="mx-auto text-center">
                    <span class="text-2xl block text-gray-900 font-sans font-semibold ">Terri J. Sandoval</span>
                    <span class="block text-gray-800 font-light">VP, Marketing<span>
                </h2>
            </div>
            <div class="px-6 py-4 font-light text-gray-600 text-base block mr-2 pb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
        <div class="bg-white text-gray-800 shadow-lg rounded-xl m-8 sm:m-4">
            <div class="relative">
                <img class="w-full mx-auto w-64 shadow-xl" src="http://www.fillmurray.com/270/270" />
            </div>
            <div class="flex items-center px-6 py-5">
                <h2 class="mx-auto text-center">
                    <span class="text-2xl block text-gray-900 font-sans font-semibold ">Janie C. Wright</span>
                    <span class="block text-gray-800 font-light">Director, Software Development<span>
                </h2>
            </div>
            <div class="px-6 py-4 font-light text-gray-600 text-base block mr-2 pb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>


        <div class="bg-white text-gray-800 shadow-lg rounded-xl m-8 sm:m-4">
            <div class="relative">
                <img class="w-full mx-auto w-64 shadow-xl" src="http://www.fillmurray.com/280/280" />
            </div>
            <div class="flex items-center px-6 py-5">
                <h2 class="mx-auto text-center">
                    <span class="text-2xl block text-gray-900 font-sans font-semibold ">Bradley J. Janelle</span>
                    <span class="block text-gray-800 font-light">UX Design Lead<span>
                </h2>
            </div>
            <div class="px-6 py-4 font-light text-gray-600 text-base block mr-2 pb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </div>
        </div>

    </div>
</div> 
