<div class='container bg-gray-800 text-center'>
    <div class=" block m-auto">
        <h1 class="text-white border-b-2 border-white p-2 rounded-full px-4 inline-block text-2xl mt-4">Customer reviews</h1>
        </div>
    <div class="w-64 h-auto inline-block bg-yellow-300 m-20 text-center p-3 border-t-8 border-black transition duration-500 ease-in-out hover:bg-yellow-400 transform hover:-translate-y-1 hover:scale-110">
        <img class="w-12 rounded-full block m-auto" src="http://source.unsplash.com/B41fY4dhX18/500x500">
        <p class="text-sm font-sans font-black">Angela Waller</p>
        <p class="text-xs mb-2">CEO of ABC</p>
        <svg height="35" width="25" class="inline">
		  <polygon points="12,0 25,0 25,15 18,15 25,30 12,15" class="fill-current" />
		</svg>
		<svg height="35" width="25" class="inline">
		  <polygon points="0,0 13,0 13,15 6,15 13,30 0,15" class="fill-current" />
		</svg>
		
        <p class="bg-black text-white rounded-lg p-2 mb-3">
		Wow. I just received my order. Thanks for being so awesome. High fives!💜
	</p>
	<svg height="35" width="25" class="inline">
		  <polygon points="12,0 25,0 25,15 12,30 20,15 12,15" class="fill-current" />
		</svg>
		<svg height="35" width="25" class="inline">
		  <polygon points="0,0 13,0 13,15 0,30 8,15 0,15" class="fill-current" />
		</svg>
		
    </div>
    <div class="w-64 h-auto inline-block bg-blue-300 m-20 text-center p-3 border-t-8 border-black transition duration-500 ease-in-out hover:bg-blue-400 transform hover:-translate-y-1 hover:scale-110">
        <img class="w-12 rounded-full m-auto" src="http://source.unsplash.com/jsF72-jeu9M/500x500">
        <p class="text-sm font-sans font-black">Dominic James</p>
        <p class="text-xs mb-2">MD of XYZ</p>
        <svg height="35" width="25" class="inline">
		  <polygon points="12,0 25,0 25,15 18,15 25,30 12,15" class="fill-current" />
		</svg>
		<svg height="35" width="25" class="inline">
		  <polygon points="0,0 13,0 13,15 6,15 13,30 0,15" class="fill-current" />
		</svg>
		
        <p class="bg-black text-white rounded-lg p-2 mb-3">
		Totally worth the money. You guys are the best! Keep up the great work!😄
	</p>
	<svg height="35" width="25" class="inline">
		  <polygon points="12,0 25,0 25,15 12,30 20,15 12,15" class="fill-current" />
		</svg>
		<svg height="35" width="25" class="inline">
		  <polygon points="0,0 13,0 13,15 0,30 8,15 0,15" class="fill-current" />
		</svg>
		
    </div>
    <div class="w-64 h-auto inline-block bg-purple-300 m-20 text-center p-3 border-t-8 border-black transition duration-500 ease-in-out hover:bg-purple-400 transform hover:-translate-y-1 hover:scale-110">
        <img class="w-12 rounded-full m-auto" src="http://source.unsplash.com/O_XIvDy0pcs/500x500">
        <p class="text-sm font-sans font-black">Christie Campion</p>
        <p class="text-xs mb-2">Founder of Great</p>
        <svg height="35" width="25" class="inline">
		  <polygon points="12,0 25,0 25,15 18,15 25,30 12,15" class="fill-current" />
		</svg>
		<svg height="35" width="25" class="inline">
		  <polygon points="0,0 13,0 13,15 6,15 13,30 0,15" class="fill-current" />
		</svg>
		
        <p class="bg-black text-white rounded-lg p-2 mb-3">
		I am super happy. Amazing quality. Loved it!! Great work guys!🤩
	</p>
	<svg height="35" width="25" class="inline">
		  <polygon points="12,0 25,0 25,15 12,30 20,15 12,15" class="fill-current" />
		</svg>
		<svg height="35" width="25" class="inline">
		  <polygon points="0,0 13,0 13,15 0,30 8,15 0,15" class="fill-current" />
		</svg>
    </div>
</div>