<div class="flex flex-col items-center justify-center h-screen container bg-white text-center">
    <div class=" block m-auto relative">
        <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl"><span class="relative mr-3">Customer</span> <span class="relative px-4 text-gray-900"><span class="relative z-20">Reviews</span><span class="w-full transform -skew-x-3 bg-yellow-300 h-full absolute left-0 bottom-0"></span></span></h1>
    </div>
    <div class="flex justify-between container max-w-4xl my-5">
        <div class="w-64 h-auto inline-block bg-yellow-300 text-center p-3 border-t-8 border-black transition duration-500 ease-in-out hover:bg-yellow-400 transform hover:-translate-y-1 hover:scale-110">
            <img class="w-16 rounded-full block m-auto border-2 border-yellow-500" src="http://source.unsplash.com/B41fY4dhX18/500x500">
            <p class="text-sm font-sans font-black text-yellow-600 mt-3">Angela Waller</p>
            <p class="text-xs mb-5">CEO of ABC</p>
            <svg height="35" width="25" class="inline">
                <polygon points="12,0 25,0 25,15 18,15 25,30 12,15" class="fill-current" />
            </svg>
            <svg height="35" width="25" class="inline">
                <polygon points="0,0 13,0 13,15 6,15 13,30 0,15" class="fill-current" />
            </svg>

            <p class="bg-black text-white p-2 mb-3">
                Wow. I just received my order. Thanks for being so awesome. High fives! 💜
            </p>
            <svg height="35" width="25" class="inline">
                <polygon points="12,0 25,0 25,15 12,30 20,15 12,15" class="fill-current" />
            </svg>
            <svg height="35" width="25" class="inline">
                <polygon points="0,0 13,0 13,15 0,30 8,15 0,15" class="fill-current" />
            </svg>

        </div>
        <div class="w-64 h-auto inline-block bg-indigo-300 text-center p-3 px-5 border-t-8 border-black transition duration-500 ease-in-out hover:bg-blue-400 transform hover:-translate-y-1 hover:scale-110">
            <img class="w-16 rounded-full border-2 border-indigo-500 m-auto" src="http://source.unsplash.com/jsF72-jeu9M/500x500">
            <p class="text-sm font-sans font-black text-indigo-600 mt-3">Dominic James</p>
            <p class="text-xs mb-5">MD of XYZ</p>
            <svg height="35" width="25" class="inline">
                <polygon points="12,0 25,0 25,15 18,15 25,30 12,15" class="fill-current" />
            </svg>
            <svg height="35" width="25" class="inline">
                <polygon points="0,0 13,0 13,15 6,15 13,30 0,15" class="fill-current" />
            </svg>

            <p class="bg-black text-white p-2 mb-3">
                Totally worth the money. You guys are the best! Keep up the great work! 😄
            </p>
            <svg height="35" width="25" class="inline">
                <polygon points="12,0 25,0 25,15 12,30 20,15 12,15" class="fill-current" />
            </svg>
            <svg height="35" width="25" class="inline">
                <polygon points="0,0 13,0 13,15 0,30 8,15 0,15" class="fill-current" />
            </svg>

        </div>
        <div class="w-64 h-auto inline-block bg-purple-300 text-center p-3 px-5 border-t-8 border-black transition duration-500 ease-in-out hover:bg-purple-400 transform hover:-translate-y-1 hover:scale-110">
            <img class="w-16 rounded-full border-2 border-purple-500 m-auto" src="http://source.unsplash.com/O_XIvDy0pcs/500x500">
            <p class="text-sm font-sans font-black text-purple-600 mt-3">Christie Campion</p>
            <p class="text-xs mb-5">Founder of Great</p>
            <svg height="35" width="25" class="inline">
                <polygon points="12,0 25,0 25,15 18,15 25,30 12,15" class="fill-current" />
            </svg>
            <svg height="35" width="25" class="inline">
                <polygon points="0,0 13,0 13,15 6,15 13,30 0,15" class="fill-current" />
            </svg>

            <p class="bg-black text-white p-2 mb-3">
                I am super happy. Amazing quality. Loved it!! Great work guys! 🤩
            </p>
            <svg height="35" width="25" class="inline">
                <polygon points="12,0 25,0 25,15 12,30 20,15 12,15" class="fill-current" />
            </svg>
            <svg height="35" width="25" class="inline">
                <polygon points="0,0 13,0 13,15 0,30 8,15 0,15" class="fill-current" />
            </svg>
        </div>
    </div>
</div>
