<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
	integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
	crossorigin="anonymous"
/>
<!-- I have added just 3 timeline side card components. Obviously, this can be repeated as many times as required by the end user -->
<div class="min-h-screen bg-gray-900">
	<div class="min-h-screen flex justify-center">
		<div class="w-2/3 mx-auto">
			<div class="flex flex-row w-full">
				<div class="w-2/5 px-2 py-10">
					<div
						class="flex flex-col w-full rounded-lg shadow bg-yellow-500 px-4 py-5"
					>
						<div class="text-gray-900 mb-2 flex justify-between">
							<div class="font-bold">First we do this</div>
							<div class="flex flex-row"></div>
						</div>
						<div class="text-gray-700">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
							risus dolor, bibendum vel venenatis eget, semper sed erat. Sed nec
							augue justo. Proin tincidunt tortor sed tortor dictum tincidunt.
							Nunc vel porta risus. Suspendisse pretium, arcu a volutpat
							tincidunt, augue velit posuere ex, in tincidunt velit metus a
							enim. Donec sapien dolor, vehicula facilisis congue efficitur,
							aliquet eget magna.
						</div>
					</div>
				</div>
				<div class="w-1/5 flex justify-center">
					<div
						class="relative flex h-full w-1 bg-yellow-500 items-center justify-center"
					>
						<div
							class="absolute flex flex-col justify-center h-24 w-24 rounded-full border-2 bg-yellow-500 leading-none text-center z-10 bg-gray"
						>
							<div>3</div>
							<div>October</div>
							<div>2020</div>
						</div>
					</div>
				</div>
				<div class="w-2/5 px-2 py-10"></div>
			</div>
			<div class="flex flex-row w-full">
				<div class="w-2/5 px-2 py-10"></div>
				<div class="w-1/5 flex justify-center">
					<div
						class="relative flex h-full w-1 bg-yellow-500 items-center justify-center"
					>
						<div
							class="absolute flex flex-col justify-center h-24 w-24 rounded-full border-2 bg-yellow-500 leading-none text-center z-10 bg-gray"
						>
							<div>10</div>
							<div>November</div>
							<div>2020</div>
						</div>
					</div>
				</div>
				<div class="w-2/5 px-2 py-10">
					<div
						class="flex flex-col w-full rounded-lg shadow bg-yellow-500 px-4 py-5"
					>
						<div class="text-gray-900 mb-2 flex justify-between">
							<div class="font-bold">After that, do this</div>
						</div>
						<div class="text-gray-700">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
							risus dolor, bibendum vel venenatis eget, semper sed erat. Sed nec
							augue justo. Proin tincidunt tortor sed tortor dictum tincidunt.
							Nunc vel porta risus. Suspendisse pretium, arcu a volutpat
							tincidunt, augue velit posuere ex, in tincidunt velit metus a
							enim. Donec sapien dolor, vehicula facilisis congue efficitur,
							aliquet eget magna.
						</div>
					</div>
				</div>
			</div>
			<div class="flex flex-row w-full">
				<div class="w-2/5 px-2 py-10">
					<div
						class="flex flex-col w-full rounded-lg shadow bg-yellow-500 px-4 py-5"
					>
						<div class="text-gray-900 mb-2 flex justify-between">
							<div class="font-bold">Finally, do this</div>
							<div class="flex flex-row"></div>
						</div>
						<div class="text-gray-700">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
							risus dolor, bibendum vel venenatis eget, semper sed erat. Sed nec
							augue justo. Proin tincidunt tortor sed tortor dictum tincidunt.
							Nunc vel porta risus. Suspendisse pretium, arcu a volutpat
							tincidunt, augue velit posuere ex, in tincidunt velit metus a
							enim. Donec sapien dolor, vehicula facilisis congue efficitur,
							aliquet eget magna.
						</div>
					</div>
				</div>
				<div class="w-1/5 flex justify-center">
					<div
						class="relative flex h-full w-1 bg-yellow-500 items-center justify-center"
					>
						<div
							class="absolute flex flex-col justify-center h-24 w-24 rounded-full border-2 bg-yellow-500 leading-none text-center z-10"
						>
							<div>5</div>
							<div>December</div>
							<div>2020</div>
						</div>
					</div>
				</div>
				<div class="w-2/5 px-2 py-10"></div>
			</div>
		</div>
	</div>
</div>
