<div class="min-h-screen bg-gray-300 py-6 flex flex-col justify-center sm:py-12 dark:bg-gray-800">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
           <div class="flex items-center justify-center h-screen overflow-hidden ">
              <div class="relative p-4">
                 <div class="absolute mb-4 text-center transform translate-x-1/2 -top-16 right-1/2">
                    <a href="#" class="relative block">
                    <svg xmlns="http://www.w3.org/2000/svg" class=" object-cover w-45 h-40 mx-auto border-2 border-gray-400 rounded-lg dark:border-gray-800" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                      </svg>
                    </a>
                 </div>
                 <div class="px-8 py-4 pt-24 bg-white rounded-lg shadow dark:bg-gray-800">
                    <div class="text-center">
                       <p class="text-2xl text-gray-800 dark:text-white font-semibold leading-normal mb-2 dark:text-gray-50">
                          John Gates
                       </p>
                    </div>
                   <hr class="divide-gray-900">
                    <div class="px-6 py-4 dark:text-gray-300  ">
                       <p class="py-2 text-lg text-gray-700"> MERN Stack  Dev. </p>
                       <div class="flex items-center mt-4 text-gray-700">
                          <svg class="w-6 h-6 fill-current" 
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             >
                             <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
                             <circle cx="9" cy="7" r="4" />
                             <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
                             <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                          </svg>
                          <h1 class="px-2 text-sm">S8 Developer Team</h1>
                       </div>
                       <div class="flex items-center mt-4 text-gray-700">
                          <svg
                             class="w-6 h-6 " 
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             >
                             <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" />
                             <circle cx="12" cy="10" r="3" />
                          </svg>
                          <h1 class="px-2 text-sm">Los Angeles, California</h1>
                       </div>
                       <div class="flex items-center mt-4 text-gray-700">
                          <svg
                             class="w-6 h-6"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             >
                             <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
                             <polyline points="22,6 12,13 2,6" />
                          </svg>
                          <h1 class="px-2 text-sm">johngates@company.com</h1>
                       </div>
                    </div>
               
                    <hr class="mt-6"/>
                    <div class="flex gap-2">
                       <div class="text-center w-1/2 p-2 hover:bg-gray-100 cursor-pointer border">
                          <p><span class="font-semibold">3 k </span> Followers</p>
                       </div>
                       
                       <div class="text-center w-1/2 p-2 hover:bg-gray-100 cursor-pointer border">
                          <p> <span class="font-semibold">2 k </span> Following</p>
                       </div>
                    </div>
                    <hr>
                    <div class="flex items-center justify-between w-40 pt-8 mx-auto text-gray-500 border-t border-gray-200">
                       <a href="#">
                          <svg
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="text-xl transition-colors duration-200 hover:text-gray-800 dark:hover:text-white"
                             >
                             <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" />
                          </svg>
                       </a>
                       <a href="#">
                          <svg
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             fill="none" class="text-xl transition-colors duration-200 hover:text-gray-800 dark:hover:text-white"
                             >
                             <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
                          </svg>
                       </a>
                       <a href="#">
                          <svg
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="text-xl transition-colors duration-200 hover:text-gray-800 dark:hover:text-white" viewBox="0 0 1792 1792"
                             >
                             <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                             <rect x="2" y="9" width="4" height="12" />
                             <circle cx="4" cy="4" r="2" />
                          </svg>
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
