<div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-16">
    <div class="flex flex-col max-w-screen-lg overflow-hidden bg-white border rounded-lg shadow-xl lg:flex-row sm:mx-auto">
      <div class="relative lg:w-1/2">
        <img src="https://images.unsplash.com/photo-1558956264-772677081e66?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=600" alt="" class="object-cover w-full lg:absolute h-80 lg:h-full" />
      </div>
      <div class="flex flex-col justify-center p-8 bg-white lg:p-16 lg:pl-10 lg:w-1/2">
        <h5 class="mb-3 text-3xl font-extrabold leading-none sm:text-4xl text-pink-500">
          This Valentine make him feel loved
        </h5>
        <p class="mb-5 text-gray-800 py-5">
         He knows that you love him. But make him feel little sweet with us. 
         
        </p>
        <div class="flex items-center">
          <button
            type="submit"
            class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded-lg bg-pink-400 hover:bg-pink-500 focus:shadow-outline focus:outline-none"
          >
            Get started
          </button>
        </div>
      </div>
    </div>
  </div>