<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Yoga Center </title></title>
</head>

<body background="https://images.unsplash.com/photo-1557334970-29a29855a804?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
 style=background-position:center>
    <br>
    <br>
    <h3><center><strong>Yoga is a group of physical, mental, and spiritual practices or disciplines which
        originated in ancient India. It calms your body and brain, relaxes you and keep you stay fit. Practice Yoga daily with us.</strong></center></h3>
    <h3><center><strong>This is the Registration form for joining the Yoga Center.</strong></center></h3>
    <br>
    <h1 style=color:white><center><strong><u>Join Us Now</u></strong></center></h1>
    <br>
    <form>  
    
<center>
<label> <strong> Enter your Name: </strong> </label>         
<input type="text" name="firstname" size="15"/> <br> <br> 

<label> <strong> Gender: </strong> </label>
<input type="text" name="gender" size="15"/>
<br>  
<br> 
  
<label> <strong> Yoga levels: </strong> </label>   
<select style=color:black>  
<option value="Beginner">Beginner</option>  
<option value="Medium">Medium</option>  
<option value="Advance">Advance</option>  
<option value="Pro">Pro</option>  
</select>  
<br>
<br>

<label> <strong> Locality: </strong> </label>
<input type="text" name="locality" size="15"/>
<br>  
<br>

<label> <strong> Email Id: </strong> </label>
<input type="email" name="email" size="15"/>
<br>  
<br>

<label> <strong> Phone No.: </strong> </label>
<input type="number" name="phone" size="15"/>
<br>  
<br>

<div style=color:black>
<input type="button" value="Submit"/> 
<div>
</center> 

</form> 
</body>

</html>