<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume-software-engineer</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-50">
    <article class="flex justify-center mx-8 my-8">
      <section
        class="w-11/12 py-8 bg-white rounded-lg shadow-sm  lg:w-8/12 xl:w-6/12 px-11"
      >
        <main class="">
          <h3 class="font-serif uppercase">Hello</h3>
          <h1 class="mt-2 text-2xl font-semibold">I'm Hubert Blaine Wolfes</h1>
          <p class="text-blue-500">Software Engineer</p>
          <p class="mt-3">
            With <span class="text-blue-700">four years of experience</span> in
            full-stack web development and systems architecture, I am confident
            I will be an excellent fit for your company Search's next Senior
            Software Engineer, if my skills align with company tech stacks.
            Currently I'm looking for
            <span class="text-blue-700">Tech Lead position</span>.
          </p>

          <p class="mt-4">
            I have refined my strengths through At years of experience in
            DevOps, where I provided solutions in database technology,
            programming, operating systems. The following is a snapshot of my
            broader technical skills:
          </p>
          <ul class="list-disc list-inside">
            <li class="font-serif">Agile Project Management</li>
            <li class="font-serif">Custom Web and Mobile Applications</li>
            <li class="font-serif">Database Programming</li>
            <li class="font-serif">Data Science</li>
            <li class="font-serif">Networking Devices and Tools</li>
          </ul>

          <div class="mt-3"><hr /></div>

          <h4 class="mt-6 text-2xl">Experience:</h4>

          <div>
            <div class="mt-3">
              <p class="font-medium">
                System Architecture <span class="font-normal"> - Lenda </span>
                <br />
                <span class="text-sm font-normal">Oct 2020 - Oct 2021</span>
              </p>
            </div>

            <div class="mt-3">
              <p class="font-medium">
                Software Engineer
                <span class="font-normal"> - Tekon Tech </span> <br />
                <span class="text-sm font-normal">Nov 2019 - Sept 2020</span>
              </p>
            </div>

            <div class="mt-3">
              <p class="font-medium">
                Backend Engineer
                <span class="font-normal"> - Swenla Soft </span> <br />
                <span class="text-sm font-normal">Aug 2018 - Oct 2019</span>
              </p>
            </div>

            <div class="mt-3">
              <p class="font-medium">
                Full Stack Developer
                <span class="font-normal"> - Softwarica Tech </span> <br />
                <span class="text-sm font-normal">Jul 2017 - Jul 2018</span>
              </p>
            </div>

            <div class="mt-3">
              <p class="font-medium">
                Frontend Engineer <span class="font-normal"> - f1Soft </span>
                <br />
                <span class="text-sm font-normal">Jun 2016 - jun 2017</span>
              </p>
            </div>
          </div>

          <div class="mt-3"><hr /></div>

          <h4 class="mt-6 text-2xl">Skills</h4>
          <h5 class="mt-2 text-xl">Experienced:</h5>
          <ul class="flex flex-wrap">
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              JavaScript
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              TypeScript
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              React
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Node
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              GraphQL
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              PHP
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              SQL
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              WordPress
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              MongoDB
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              AWS
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Git
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Linux
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Test Driven Development
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Agile Tool (JIra)
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              CI / CD with GitHub Actions
            </li>
          </ul>

          <h5 class="mt-2 text-xl">Familiar:</h5>
          <ul class="flex flex-wrap">
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Docker
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Gatsby
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Storrybook
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Python
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              C#
            </li>
            <li class="px-4 py-1 mx-4 my-2 bg-white shadow-md rounded-xl">
              Serverless
            </li>
          </ul>
          <div class="mt-3"><hr /></div>

          <h4 class="mt-6 text-2xl">Education:</h4>

          <div>
            <div class="mt-3">
              <h2 class="text-lg font-medium">
                Bachelor's degree Software development
              </h2>
              <p class="font-normal">Miama State University</p>
              <p class="font-mono">2012-2016</p>
            </div>

            <div class="mt-3">
              <h2 class="text-lg font-medium">
                Diploma in Computer Engineering
              </h2>
              <p class="font-normal">Loally Institute</p>
              <p class="font-mono">2010-2012</p>
            </div>
          </div>
          <div class="mt-3"><hr /></div>

          <h4 class="mt-6 text-2xl">Awards and Acheivements:</h4>
          <div class="mt-3">
            <h2 class="text-lg font-medium">
              Innovative Leadership Annual Award(15/2018)
            </h2>
            <p class="font-normal">Radiant Spark Technology.inc</p>
          </div>

          <div class="mt-3">
            <h2 class="text-lg font-medium">
              Critical Software Engineering Talent Award(3/2021)
            </h2>
            <p class="font-normal">Educativetech.org</p>
          </div>

          <div class="mt-3"><hr /></div>
          <h4 class="mt-6 text-2xl">Contact Links:</h4>
          <ul class="flex flex-wrap">
            <li
              class="px-4 py-1 mx-4 my-2 bg-white shadow-md  hover:underline hover:cursor-pointer rounded-xl"
            >
              <a href="https:twitter.com">Twitter</a>
            </li>
            <li
              class="px-4 py-1 mx-4 my-2 bg-white shadow-md  hover:underline hover:cursor-pointer rounded-xl"
            >
              <a href="https:twitter.com">Facebook</a>
            </li>
            <li
              class="px-4 py-1 mx-4 my-2 bg-white shadow-md  hover:underline hover:cursor-pointer rounded-xl"
            >
              <a href="https:twitter.com">Email</a>
            </li>
            <li
              class="px-4 py-1 mx-4 my-2 bg-white shadow-md  hover:underline hover:cursor-pointer rounded-xl"
            >
              <a href="https:twitter.com">Linkedin</a>
            </li>
            <li
              class="px-4 py-1 mx-4 my-2 bg-white shadow-md  hover:underline hover:cursor-pointer rounded-xl"
            >
              <a href="https:twitter.com">Stackoverflow</a>
            </li>
          </ul>

          <p class="pb-2 mt-6">
            <span class="font-medium">My motto is</span> “Master the skills
            which are relevant to you today & develop the skills you need
            tomorrow”.
          </p>
        </main>
      </section>
    </article>
  </body>
</html>
